<div class="outer">
  <div class="inner">
    <form  [formGroup]="verifyForm">
      <h1>Verify Here !</h1>
      <mat-form-field  appearance="outline">
        <mat-label>Enter Verification Code</mat-label>
        <input
          required
          formControlName="code"
          type="text"
          matInput
        />
      </mat-form-field>
      <br>

      <h5>nothing after 2 minuets ?&nbsp;&nbsp;<span (click)="resendMail()" class="anchor">Resend code</span></h5>
      <button style="width: 100%" type="submit" [disabled]="verifyForm.invalid" mat-raised-button color="primary" (click)="verify()">
        Verify Now
      </button>
    </form>
  </div>
</div>
