<div class="outer">
  <div class="inner">
    <form class="form" [formGroup]="verifyForm">
      <h1 class="text-center">Enter Your Verification Code</h1>

      <h3 class="text-center" style=" font-family: 'Lobster', cursive;
  font-family: 'Roboto Mono', monospace;">We have send a verification code to <b>{{email}}</b></h3>
      <mat-form-field class="form" appearance="outline">
        <mat-label>Enter Verification Code</mat-label>
        <input
          required
          formControlName="code"
          type="text"
          matInput
        />
      </mat-form-field>
      <br>

      <h5>nothing after 2 minuets ?&nbsp;&nbsp;<span (click)="resendMail()" class="anchor"><b>Resend code</b></span></h5>
      <button style="width: 100%" type="submit" [disabled]="verifyForm.invalid" mat-raised-button color="primary"
              (click)="verify()">
        Verify Now
      </button>
    </form>
  </div>
</div>
