<!--<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  &lt;!&ndash;- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" &ndash;&gt;

  &lt;!&ndash; Position Column &ndash;&gt;
  <ng-container matColumnDef="Module">
    <th mat-header-cell *matHeaderCellDef> <b>Module</b> </th>
    <td mat-cell *matCellDef="let element"> {{element.cTitle}} </td>
  </ng-container>

  &lt;!&ndash; Name Column &ndash;&gt;
  <ng-container matColumnDef="Status">
    <th mat-header-cell *matHeaderCellDef> <b>Status (Activated / Pending)</b> </th>
    <td mat-cell *matCellDef="let element" >
      <span *ngIf="element.paid; else unpaid">Activated</span>
      <ng-template #unpaid>Pending..</ng-template>
      &lt;!&ndash;<mat-icon>pending_actions</mat-icon>
      <mat-icon>check_circle</mat-icon>&ndash;&gt;
    </td>
  </ng-container>

  <ng-container matColumnDef="Delete">
    <th mat-header-cell *matHeaderCellDef> <b>Delete Module</b> </th>
    <td mat-cell *matCellDef="let element" >
      <span *ngIf="element.paid;"><mat-icon>delete</mat-icon></span>
      &lt;!&ndash;<mat-icon>pending_actions</mat-icon>
      <mat-icon>check_circle</mat-icon>&ndash;&gt;
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>-->

<table class="table-2 table-striped table-bordered align-items-center justify-content-center">

  <thead>
  <tr>
    <th>No</th>
    <th>Module</th>
    <th>Status (Activated / Pending)</th>
    <th>Delete Module</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let c of dataSource; let i =index">
    <td>{{ i + 1 }}</td>
    <td>{{c.cTitle}}</td>
    <td><span *ngIf="c.paid; else unpaid">Activated</span>
      <ng-template #unpaid>Pending..</ng-template></td>
    <td><span *ngIf="c.paid;"><mat-icon>delete</mat-icon></span></td>
  </tr>
  </tbody>

</table>
