<mat-card>
  <h1>Add New Category</h1>

  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form (ngSubmit)="formSubmit()">
            <mat-form-field class="w100" appearance="outline">
              <mat-label>Title</mat-label>

              <input
                required
                autofocus
                type="text"
                name="title"
                matInput
                placeholder="Enter here"
                [(ngModel)]="category.title"
              />
            </mat-form-field>

            

            <mat-form-field appearance="fill" class="mt20 w100">
              <mat-label>Select Audience</mat-label>
              <mat-select name="category" [(ngModel)]="category.audience">
                <mat-option  value = "Advanced_Level">Advanced Level Student</mat-option>
                <mat-option  value = "Ordinary_level">Ordinary Level Student</mat-option>
                <mat-option  value = "Shithshathwa_Level">Shithshathwa Level Student</mat-option>
                <mat-option  value = "Primary_Level">Primary Level Student</mat-option>
                <mat-option  value = "Advanced_Level">Primary Level Student</mat-option>
                
                  <!-- <mat-option  value = "Physical_Subject_Stream">Physical Subject Stream(A/L)</mat-option>
                  <mat-option  value = "Biology_Subject_Stream">Biology Subject Stream(A/L)</mat-option>
                  <mat-option  value = "Commerce_Subject_Category">Commerce Subject Category(A/L)</mat-option>
                  <mat-option  value = "Art_Subject_Stream">Art Subject Stream</mat-option>
                  <mat-option  value = "Technology_subject_category">Technology Subject Category(A/L)</mat-option>
                  <mat-option  value = "Technology_subject_category">Ordinary Level(O/L)</mat-option>
                  <mat-option  value = "Technology_subject_category">Grade 05 Scholarship Exam</mat-option>
                  <mat-option  value = "Technology_subject_category">Primary Level</mat-option> -->


              </mat-select>
            </mat-form-field>

            <mat-form-field class="w100" appearance="outline">
              <mat-label>Description</mat-label>

              <textarea
                name="description"
                matInput
                placeholder="Enter Category Description"
                [(ngModel)]="category.description"
                rows="1"
              ></textarea>
            </mat-form-field>

            <div class="container text-center mt15">
              <button mat-raised-button color="primary">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
