<!DOCTYPE html>
<html lang="en">



<body>

<section>

  <div class="section-header">
    <div class="container">
      <h2>Contact Us</h2>
      <p>If you have any enquires, suggestions, business matters or any thing feel free to contact us. We will Contact you as soon as possible.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="contact-info">
        <div class="contact-info-item">
          <!--<div class="contact-info-icon">
            <i class="fas fa-home"></i>
          </div>-->

          <div class="contact-info-content">
            <h4>Address</h4>
            <p>Puttalam Road,Nochchiyagama</p>
          </div>
        </div>

        <div class="contact-info-item">
          <!--<div class="contact-info-icon">
            <i class="fas fa-phone"></i>
          </div>-->

          <div class="contact-info-content">
            <h4>Phone</h4>
            <p>+94 77 289 6143</p>
          </div>
        </div>

        <div class="contact-info-item">
          <!--<div class="contact-info-icon">
            <i class="fas fa-envelope"></i>
          </div>-->

          <div class="contact-info-content">
            <h4>Email</h4>
            <p>examarchive@info.com</p>
          </div>
        </div>
      </div>

      <div class="contact-form">
        <form [formGroup]="contactForm" id="contact-form">
          <h2>Send Message</h2>

            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Your name</mat-label>
              <input
                autofocus
                formControlName="name"
                matInput
              />
            </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Your email</mat-label>
            <input
              formControlName="email"
              matInput
            />
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Type here your message ..</mat-label>
            <textarea
              formControlName="message"
              matInput>
            </textarea>
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="contactForm.invalid" class="full-width" (click)="submit()">Submit</button>

        </form>
      </div>

    </div>
  </div>
</section>

</body>
<app-footer></app-footer>
</html>
