<div class="outer">
  <div class="inner col-xl-6 col-lg-6 col-md-8 col-sm-11 col-11">
    <form [formGroup]="changeForm" class="form">
      <h1 class="text-center">Enter Your Verification Code</h1>
      <h3 class="text-center">We have send a verification code to <b>{{mail}}</b></h3>
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Verification Code</mat-label>
        <input autofocus formControlName="otp" type="text" matInput />
      </mat-form-field>

      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>New password</mat-label>
        <input formControlName="newPassword" [type]="changeType?'password':'text'" matInput />
        <mat-icon matSuffix *ngIf="!showPasswordFlag" (click)="showPassword()">visibility</mat-icon>
        <mat-icon matSuffix *ngIf="showPasswordFlag" (click)="showPassword()">visibility_off</mat-icon>
      </mat-form-field>

      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Re enter new password</mat-label>
        <input formControlName="confirm" [type]="changeType?'password':'text'" matInput />
        <mat-icon matSuffix *ngIf="!showPasswordFlag" (click)="showPassword()">visibility</mat-icon>
        <mat-icon matSuffix *ngIf="showPasswordFlag" (click)="showPassword()">visibility_off</mat-icon>
        <div *ngIf="changeForm.errors?.['passwordMismatcgError']">

          <small class="text-danger"><b>Error : Password mismatched !!</b></small>

        </div>
      </mat-form-field>
      <h5>nothing after 2 minuets ?&nbsp;&nbsp;<span (click)="resendMail()" class="anchor"><b>Resend code</b></span></h5>
      <br>
      <button style="width: 100%" type="submit" [disabled]="changeForm.invalid" mat-raised-button color="primary"
              (click)="verifyAndSend()">
        Verify & Change password
      </button>
    </form>
  </div>
</div>
