<!-- <h1>this is navbar</h1> -->
<!--<mat-toolbar color="primary" >
  <a
    routerLink="/"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu_book</mat-icon>
  </a>
  <span>ExamArchive.com</span>
  <span class="example-spacer"></span>


  <button
    *ngIf="!isLoggedIn"
    [routerLink]="'/login'"
    mat-raised-button
    color="accent">Login</button>

  <button
    *ngIf="!isLoggedIn"
    [routerLink]="'/signup'"
    mat-raised-button
    color="accent">Sing up</button>

  <button
    *ngIf="isLoggedIn"
    (click)="logout()"
    mat-raised-button
    color="accent">Logout</button>

  <button
    *ngIf="isLoggedIn && user"
    mat-raised-button
    color="accent"
    routerLink="/admin/profile"> {{ user.username }} </button>


</mat-toolbar>-->


<nav class="navbar navbar-expand-lg  navbar-dark" style="background-color: #3F51B5;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

    <a class="navbar-brand" routerLink="/"><img src="https://apimatic-io-cdn.azureedge.net/img/theme/ApimaticLogo.svg"></a>

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item  nav-box">
        <a class="nav-link" routerLink="/home" routerLinkActive="active"><b>Home</b></a>
      </li>

      <li class="nav-item  nav-box">
        <a class="nav-link" routerLink="/user-dashboard" routerLinkActive="active"><b>DashBoard</b></a>
      </li>
      <li class="nav-item  nav-box">
        <a class="nav-link" routerLink="/select-subject" routerLinkActive="active"><b>Add More Subject</b></a>
      </li>
      <li class="nav-item  nav-box">
        <a class="nav-link" routerLink="/contact-us" routerLinkActive="active"><b>Contact Us</b></a>
      </li>
      <li class="nav-item  nav-box">
        <a class="nav-link" routerLink="/about-us" routerLinkActive="active"><b>About Us </b></a>
      </li>
      <li class="nav-item  nav-box">
        <a class="nav-link" routerLink="/donation" routerLinkActive="active"><b>Donations</b></a>
      </li>
      <li class="nav-item  nav-box">
        <a class="nav-link" routerLink="/news-letter" routerLinkActive="active"><b>News letter</b></a>
      </li>
      <li class="nav-item  nav-box">
        <a class="nav-link" routerLink="/payment-plans" routerLinkActive="active"><b>Payment Plans</b></a>
      </li>
      <li class="nav-item  nav-box">
        <a class="nav-link" routerLink="/admin" routerLinkActive="active" *ngIf="isAdmin"><b>Admin DashBoard</b></a>
      </li>

    </ul>

      <ul class="navbar-nav ">

        <li class="nav-item  nav-box">
          <a class="nav-link" *ngIf="!isLoggedIn" [routerLink]="'/login'"  routerLinkActive="active"><b>Login</b> <span
            class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item  nav-box">
          <a class="nav-link" *ngIf="!isLoggedIn" [routerLink]="'/signup'"  routerLinkActive="active"><b>Signup</b></a>
        </li>
        <li class="nav-item  nav-box">
          <a  class="nav-link" *ngIf="isLoggedIn" (click)="logout()"><b><mat-icon>logout</mat-icon></b></a>
        </li>
        <li style="margin-left: 10px;" class="nav-item  nav-box">
          <a routerLinkActive="active" class="nav-link" *ngIf="isLoggedIn" [routerLink]="'/profile'">
            <b><mat-icon>account_box</mat-icon></b>
          </a>
        </li>
      </ul>


  </div>
</nav>
