<div class="bootstrap-wrapper" *ngIf="!isSubmit">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">


        <!-- questions -->
        <ng-container *ngIf="questions">
          <h1 class="mt20">
            On Going Quiz <b>{{questions[0].quiz.title}} - {{questions[0].quiz.category.title}}</b>
          </h1>
        </ng-container>
        <mat-card *ngFor="let q of questions; let i = index; " class="mt10">
          <mat-card-content #myElement>
            <p>
              <b>Q {{ i + 1 }})</b>
            </p>

            <div class="img-box" style="overflow: hidden">
              <img style="width:100%;" [src]="q.questionImages[0].url" alt="Question img">
            </div>

            <mat-divider></mat-divider>
            <br/>

            <div class="row">
              <div class="col-md-6">

                 <input
                   type="radio"
                   [value]="q.option1"
                   [name]="i"
                   [(ngModel)]="q.givenAnswer"
                 /><b>{{ q.option1 }}</b>



              </div>
              <div class="col-md-6">
                <input
                  type="radio"
                  [value]="q.option2"
                  [name]="i"
                  [(ngModel)]="q.givenAnswer"
                /><b>{{ q.option2 }}</b>
              </div>
            </div>

            <div class="row mt20">
              <div class="col-md-6">
                <input
                  type="radio"
                  [value]="q.option3"
                  [name]="i"
                  [(ngModel)]="q.givenAnswer"
                /><b>{{ q.option3 }}</b>
              </div>
              <div class="col-md-6">
                <input
                  type="radio"
                  [value]="q.option4"
                  [name]="i"
                  [(ngModel)]="q.givenAnswer"
                /><b>{{ q.option4 }}</b>
              </div>
              <div class="row mt20">
                <div class="col-md-12" style="margin-left:15px">
                  <input
                    type="radio"
                    [value]="q.option5"
                    [name]="i"
                    [(ngModel)]="q.givenAnswer"
                  /><b>{{ q.option5 }}</b>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <div class="container text-center mt20 mb20">
          <button (click)="submitQuiz()" mat-raised-button color="primary">
            Submit Quiz
          </button>
        </div>
      </div>


      <div class="col-md-2">
        <!-- progress -->
        <mat-card style="margin-top: 70px;position: fixed; background-color: #3F51B5">

          <mat-card-content>
            <h1 class="text-center" style="color: white">{{ getFormattedTime() }}</h1>
          </mat-card-content>
          <div style="background-color: white;width: 100%;height: 5px"></div>
          <br>
          <mat-card-content>
            <h3 class="text-center" style="color: white">Answers will be auto submit when times up.</h3>
          </mat-card-content>
          <mat-divider></mat-divider>
          <div style="background-color: white;width: 100%;height: 5px"></div>
          <br>
          <mat-card-content>
            <div class="box" style="display: flex;align-items: center;justify-content: center;margin-bottom: 5px">
              <div class="row">
                <div #id class="number-boxes" (click)="seekQuestion(1)">1</div>
                <div #id class="number-boxes" (click)="seekQuestion(2)">2</div>
                <div #id class="number-boxes" (click)="seekQuestion(3)">3</div>
                <div #id class="number-boxes" (click)="seekQuestion(4)">4</div>
                <div #id class="number-boxes" (click)="seekQuestion(5)">5</div>
                <div #id class="number-boxes" (click)="seekQuestion(6)">6</div>
              </div>
            </div>

            <div class="box">
              <div class="row">
                <div #id class="number-boxes"  (click)="seekQuestion(7)">7</div>
                <div #id class="number-boxes" (click)="seekQuestion(8)">8</div>
                <div #id class="number-boxes" (click)="seekQuestion(9)">9</div>
                <div #id class="number-boxes" (click)="seekQuestion(10)">10</div>
                <div #id class="number-boxes" (click)="seekQuestion(11)">11</div>
                <div #id class="number-boxes" (click)="seekQuestion(12)">12</div>
              </div>
            </div>
            <div class="box" style="display: flex;align-items: center;justify-content: center;margin-bottom: 5px">
              <div class="row">
                <div #id class="number-boxes" (click)="seekQuestion(13)">13</div>
                <div #id class="number-boxes" (click)="seekQuestion(14)">14</div>
                <div #id class="number-boxes" (click)="seekQuestion(15)">15</div>
                <div #id class="number-boxes" (click)="seekQuestion(16)">16</div>
                <div #id class="number-boxes" (click)="seekQuestion(17)">17</div>
                <div #id class="number-boxes" (click)="seekQuestion(18)">18</div>
              </div>
            </div>
            <div class="box" style="display: flex;align-items: center;justify-content: center;margin-bottom: 5px">
              <div class="row">
                <div #id class="number-boxes" (click)="seekQuestion(19)">19</div>
                <div #id class="number-boxes" (click)="seekQuestion(20)">20</div>
                <div #id class="number-boxes" (click)="seekQuestion(21)">21</div>
                <div #id class="number-boxes" (click)="seekQuestion(22)">22</div>
                <div #id class="number-boxes" (click)="seekQuestion(23)">23</div>
                <div #id class="number-boxes" (click)="seekQuestion(24)">24</div>
              </div>
            </div>
            <div class="box" style="display: flex;align-items: center;justify-content: center;margin-bottom: 5px">
              <div class="row">
                <div #id class="number-boxes" (click)="seekQuestion(25)">25</div>
                <div #id class="number-boxes" (click)="seekQuestion(26)">26</div>
                <div #id class="number-boxes" (click)="seekQuestion(27)">27</div>
                <div #id class="number-boxes" (click)="seekQuestion(28)">28</div>
                <div #id class="number-boxes" (click)="seekQuestion(29)">29</div>
                <div class="number-boxes">30</div>
              </div>
            </div>
            <div class="box" style="display: flex;align-items: center;justify-content: center;margin-bottom: 5px">
              <div class="row">
                <div #id class="number-boxes" (click)="seekQuestion(31)">31</div>
                <div #id class="number-boxes" (click)="seekQuestion(32)">32</div>
                <div #id class="number-boxes" (click)="seekQuestion(33)">33</div>
                <div #id class="number-boxes" (click)="seekQuestion(34)">34</div>
                <div #id class="number-boxes" (click)="seekQuestion(35)">35</div>
                <div #id class="number-boxes" (click)="seekQuestion(36)">36</div>
              </div>
            </div>
            <div class="box" style="display: flex;align-items: center;justify-content: center;margin-bottom: 5px">
              <div class="row">
                <div #id class="number-boxes" (click)="seekQuestion(37)">37</div>
                <div #id class="number-boxes" (click)="seekQuestion(38)">38</div>
                <div #id class="number-boxes" (click)="seekQuestion(39)">39</div>
                <div #id class="number-boxes" (click)="seekQuestion(40)">40</div>
                <div #id class="number-boxes" (click)="seekQuestion(41)">41</div>
                <div #id class="number-boxes" (click)="seekQuestion(42)">42</div>
              </div>
            </div>
            <div class="box" style="display: flex;align-items: center;justify-content: center;margin-bottom: 5px">
              <div class="row">
                <div #id class="number-boxes" (click)="seekQuestion(43)">43</div>
                <div #id class="number-boxes" (click)="seekQuestion(44)">44</div>
                <div #id class="number-boxes" (click)="seekQuestion(45)">45</div>
                <div #id class="number-boxes" (click)="seekQuestion(46)">46</div>
                <div #id class="number-boxes" (click)="seekQuestion(47)">47</div>
                <div #id class="number-boxes" (click)="seekQuestion(48)">48</div>
              </div>
            </div>
            <div class="box" style="display: flex;align-items: center;justify-content: center;margin-bottom: 5px">
              <div class="row">
                <div #id class="number-boxes" (click)="seekQuestion(49)">49</div>
                <div #id class="number-boxes" (click)="seekQuestion(50)">50</div>
              </div>
            </div>

          </mat-card-content>
        </mat-card>


      </div>


    </div>
  </div>
</div>


<!-- show the result -->
<div class="bootstrap-wrapper" *ngIf="isSubmit">
  <div class="row mt20">
    <div class="col-md-6 offset-md-3">
      <mat-card>

        <mat-card-content class="text-center">
          <h1 style="color: blue;font-size: 25px; align-items: center"> {{questions[0].quiz.title}}
            - {{questions[0].quiz.category.title}}</h1>
          <h1>Marks Got : {{ marksGot }}</h1>
          <h1>Correct Answers : {{ correctAnswers }}</h1>
          <h1>Check out your mistakes now</h1>
        </mat-card-content>
        <mat-card-actions class="text-center">
          <button
            mat-raised-button
            color="accent"
            [routerLink]="'/user-dashboard/0'"
          >
            Home
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <!--Answer Sheet-->
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

      <mat-card *ngFor="let q of questions; let i = index" class="mt10">
        <mat-card-content>
          <p>
            <b>Q {{ i + 1 }})</b>
            <span class="ml10" [innerHTML]="q.content"></span>
          </p>

          <div class="img-box" style="overflow: hidden">
            <img style="width:100%;" [src]="q.questionImages[0].url" alt="Question img">
          </div>

          <mat-divider></mat-divider>
          <br/>

          <div class="row">
            <div class="col-md-6">
              <input
                type="radio"
                [value]="q.option1"
                [name]="i"
                [(ngModel)]="q.givenAnswer"
              />{{ q.option1 }}
            </div>

            <div class="col-md-6">
              <input
                type="radio"
                [value]="q.option2"
                [name]="i"
                [(ngModel)]="q.givenAnswer"
              />{{ q.option2 }}
            </div>
          </div>

          <div class="row mt20">
            <div class="col-md-6">
              <input
                type="radio"
                [value]="q.option3"
                [name]="i"
                [(ngModel)]="q.givenAnswer"
              />{{ q.option3 }}
            </div>
            <div class="col-md-6">
              <input
                type="radio"
                [value]="q.option4"
                [name]="i"
                [(ngModel)]="q.givenAnswer"
              />{{ q.option4 }}
            </div>
          </div>

          <div class="row mt20">
            <div class="col-md-6">
              <input
                type="radio"
                [value]="q.option5"
                [name]="i"
                [(ngModel)]="q.givenAnswer"
              />{{ q.option5 }}
            </div>
          </div>


          <div class="acc">

            <div *ngIf="!q.accuracy">
              <h3 style="color: red">Your Answer is Wrong !! <br>Correct Answer : {{q.answer}}</h3>
            </div>

            <div *ngIf="q.accuracy">
              <h3 style="color: blue">Your Answer is Correct !!</h3>
            </div>

          </div>

        </mat-card-content>
      </mat-card>

    </div>
    <div class="col-md-2"></div>
  </div>


</div>



