.acc {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 20px;
}

.timer-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.timer-inner {
  margin-top: 70px;
  position: fixed;
  background-color: white;
  padding: 10px;
  color: black;
}

.navq-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px;

}

.navq-inner {
  width: auto;
  height: auto;
  position: fixed;
  background-color: #3F51B5;
  padding: 5px;
  min-width: 150px;
  max-height: 400px;
  overflow: auto;
  border: 2px solid white;
}

.img-box {
  width: 100%;
  min-height: 60px;
  height: auto;
}

.number-boxes {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.number-boxes:hover {
  cursor: pointer;
  background-color: darkcyan;
  color: white;
}

input {
  width: 15px;
  height: 15px;
  accent-color: crimson;
}

.phone-timer {
  width: 100%;
  background-color: #3F51B5;
  color: white;
  font-weight: bold;
  height: 60px;
  display: none;
  z-index: 1;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}


@media screen and (max-width: 767px ) {
  .phone-timer {
    display: inline;
  }

}


