<div class="bootstrap-wrapper" *ngIf="!isSubmit">


  <input type="checkbox" id="toggle-popup" class="toggle-checkbox">
  <label for="toggle-popup" class="toggle-button">
    <div class="example-tooltip-host" matTooltip="To see time and submit button" [matTooltipPosition]='position'>
      Console
    </div>
  </label>
  <div class="popup">
    <div class="popup-content">
      <span style="color:white;font-weight:bold;font-size: 30px">{{ getFormattedTime() }}</span>
      <button class="mt20" (click)="submitQuiz()" mat-raised-button color="primary">
        Submit Quiz
      </button>
    </div>
  </div>


  <div class="row" style="margin-top: 10px!important;">
    <div class="col-md-1"></div>


    <!--Quiz-->
    <div class="col-md-10 main">

      <!-- question header -->
      <div style="display:flex;align-items: center;justify-content: center;margin-bottom: 10px!important;"
           *ngIf="questions">
        <h1 class="mt20">
          <b>{{questions[0].quiz.title}} - {{questions[0].quiz.category.title}}</b>
        </h1>

      </div>

      <!-- questions -->
      <mat-vertical-stepper [@.disabled]="false"
                            (selectionChange)="onStepClick(stepper, $event.previouslySelectedIndex)"
                            #stepper="matVerticalStepper">
        <div *ngFor="let q of questions; let i = index;">
          <mat-step #yourStep [editable]="true" label="Question {{ i + 1 }}) ">
            <!--<ng-template matStepLabel><b></b></ng-template>-->

            <div class="img-box" style="overflow: hidden">
              <img style="width:100%;" [src]="q.questionImages[0].url" alt="Question img">
            </div>

            <mat-divider></mat-divider>
            <br/>

            <div class="row">
              <div class="col-md-6 col-sm-6 col-6">
                <input type="radio" [value]="q.option1" [name]="i" [(ngModel)]="q.givenAnswer"/><b>{{ q.option1 }}</b>
              </div>
              <div class="col-md-6 col-sm-6 col-6">
                <input type="radio" [value]="q.option2" [name]="i" [(ngModel)]="q.givenAnswer"/><b>{{ q.option2 }}</b>
              </div>
            </div>

            <div class="row mt20">
              <div class="col-md-6 col-sm-6 col-6">
                <input type="radio" [value]="q.option3" [name]="i" [(ngModel)]="q.givenAnswer"/><b>{{ q.option3 }}</b>
              </div>
              <div class="col-md-6 col-sm-6 col-6">
                <input type="radio" [value]="q.option4" [name]="i" [(ngModel)]="q.givenAnswer"/><b>{{ q.option4 }}</b>
              </div>
              <div class="row mt20">
                <div class="col-md-12" style="margin-left:15px">
                  <input type="radio" [value]="q.option5" [name]="i" [(ngModel)]="q.givenAnswer"/><b>{{ q.option5
                  }}</b>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button style="margin-right: 5px!important;" mat-raised-button color="primary" matStepperPrevious>Back
              </button>
              <button mat-raised-button color="primary" matStepperNext (click)="checkStatus(i)">Next</button>
            </div>
          </mat-step>
        </div>
      </mat-vertical-stepper>

      <!-- load more -->

      <div class="container text-center mt20 mb20">
        <button (click)="loadMore()" mat-raised-button *ngIf="showMoreBtn" color="primary">
          <div class="example-tooltip-host" matTooltip="Click here to load next 10 questions"
               [matTooltipPosition]='position'>
            Load More
          </div>
        </button>

      </div>


    </div>

  </div>
</div>


<div class="bootstrap-wrapper" *ngIf="isSubmit">
  <div class="row mt20">
    <div class="col-md-2">
    </div>
    <!-- result div -->
    <div class="col-md-8">
      <mat-card>

        <mat-card-content class="text-center">
          <h1 style="color: blue;font-size: 25px; align-items: center"> {{questions[0].quiz.title}}
            - {{questions[0].quiz.category.title}}</h1>
          <h1>Correct Answers : {{ correctAnswers }}</h1>
          <h1>Check out your mistakes now</h1>
        </mat-card-content>
        <mat-card-actions class="text-center">
          <button mat-raised-button color="accent" [routerLink]="'/user-dashboard'">
            Dashboard
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <!--Answer Sheet-->
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

      <mat-card *ngFor="let q of questions; let i = index" class="mt10">
        <mat-card-content>
          <p>
            <b>Q {{ i + 1 }})</b>
            <span class="ml10" [innerHTML]="q.content"></span>
          </p>

          <div class="img-box" style="overflow: hidden">
            <img style="width:100%;" [src]="q.questionImages[0].url" alt="Question img">
          </div>

          <mat-divider></mat-divider>
          <br/>

          <div class="row">
            <div class="col-md-6">
              <input type="radio" disabled [value]="q.option1" [name]="i" [(ngModel)]="q.givenAnswer"/>{{ q.option1 }}
            </div>

            <div class="col-md-6">
              <input type="radio" disabled [value]="q.option2" [name]="i" [(ngModel)]="q.givenAnswer"/>{{ q.option2 }}
            </div>
          </div>

          <div class="row mt20">
            <div class="col-md-6">
              <input type="radio" disabled [value]="q.option3" [name]="i" [(ngModel)]="q.givenAnswer"/>{{ q.option3 }}
            </div>
            <div class="col-md-6">
              <input type="radio" disabled [value]="q.option4" [name]="i" [(ngModel)]="q.givenAnswer"/>{{ q.option4 }}
            </div>
          </div>

          <div class="row mt20">
            <div class="col-md-6">
              <input type="radio" disabled [value]="q.option5" [name]="i" [(ngModel)]="q.givenAnswer"/>{{ q.option5 }}
            </div>
          </div>


          <div class="acc">

            <div *ngIf="!q.accuracy">
              <h3 style="color: red">Your Answer is Wrong !! <br>Correct Answer : {{q.answer}}</h3>
            </div>

            <div *ngIf="q.accuracy">
              <h3 style="color: blue">Your Answer is Correct !!</h3>
            </div>

          </div>

        </mat-card-content>
      </mat-card>

      <!--<mat-vertical-stepper [@.disabled]="false" (selectionChange)="onStepClick(stepper, $event.previouslySelectedIndex)" #stepper="matVerticalStepper">
        <div class="a" *ngFor="let q of questions; let i = index">
          <mat-step #yourStep [editable]="true" label="Question {{ i + 1 }}) ">
            <p>
              <b>Q {{ i + 1 }})</b>
              <span class="ml10" [innerHTML]="q.content"></span>
            </p>

            <div class="img-box" style="overflow: hidden">
              <img style="width:100%;" [src]="q.questionImages[0].url" alt="Question img">
            </div>

            <mat-divider></mat-divider>
            <br />

            <div class="row">
              <div class="col-md-6">
                <input  type="radio" disabled [value]="q.option1" [name]="i" [(ngModel)]="q.givenAnswer" />{{ q.option1 }}
              </div>

              <div class="col-md-6">
                <input type="radio" disabled [value]="q.option2" [name]="i" [(ngModel)]="q.givenAnswer" />{{ q.option2 }}
              </div>
            </div>

            <div class="row mt20">
              <div class="col-md-6">
                <input type="radio" disabled [value]="q.option3" [name]="i" [(ngModel)]="q.givenAnswer" />{{ q.option3 }}
              </div>
              <div class="col-md-6">
                <input type="radio" disabled [value]="q.option4" [name]="i" [(ngModel)]="q.givenAnswer" />{{ q.option4 }}
              </div>
            </div>

            <div class="row mt20">
              <div class="col-md-6">
                <input type="radio" disabled [value]="q.option5" [name]="i" [(ngModel)]="q.givenAnswer" />{{ q.option5 }}
              </div>
            </div>


            <div class="acc">

              <div *ngIf="!q.accuracy">
                <h3 style="color: red">Your Answer is Wrong !! <br>Correct Answer : {{q.answer}}</h3>
              </div>

              <div *ngIf="q.accuracy">
                <h3 style="color: blue">Your Answer is Correct !!</h3>
              </div>

            </div>
          </mat-step>
        </div>
      </mat-vertical-stepper>-->

      <div class="text-center">
        <button class="text-center mt20" mat-raised-button color="accent" [routerLink]="'/user-dashboard/0'">
          Dashboard
        </button>
      </div>


    </div>
    <div class="col-md-2"></div>
  </div>


</div>
