
<div class="outer">

  <div class="search" style="display: flex;align-items: center;justify-content: center">
    <mat-form-field class="text text-center" appearance="fill">
      <mat-label>Search by subject name</mat-label>
      <input
        type="search"
        (keyup.enter)="searchNow()"
        [(ngModel)]="searchText"
        matInput
        placeholder="Ex: physics"
      >
      <mat-icon (click)="searchNow()" matSuffix>search</mat-icon>
      <mat-icon (click)="clear()" matPrefix *ngIf="searchText.length">clear</mat-icon>
    </mat-form-field>
  </div>

  <div class="col-12" *ngIf="categories.length == 0">
    <mat-card class="text-center">
      <mat-card-content>
        <div class="inner">

          <div class="show">
            <p>No results found for "{{searchText}}"</p>
            <img width="50%" src="assets/empty.svg" alt="">
          </div>




        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="containers">
    <div class="item" *ngFor="let q of categories">
      <div class="inner">
        <p>{{ q.title }} Papers Package</p>
<!--
        <p ><b>{{ q.description }}</b></p>
-->
        <button [routerLink]="'/payments-slip/' + q.cid" > Check out</button>

      </div>
    </div>
  </div>



</div>

