<div class="outer">
  <div class="row">
    <div class="col-md-6">
      <mat-list>
        <h1 class="text-center">Select Your Subjects</h1>
        <mat-list-item *ngFor="let c of categories">

          <div mat-line>{{ c.title }}</div>

          <span class="material-symbols-outlined">
                        <mat-icon class="icon" (click)="addCategory(c.cid,c.title)" mat-list-icon
                                  style="color:green;margin-left: 20px;">add</mat-icon>

            <mat-icon class="icon"  mat-list-icon
                      style="color:black;margin-left: 20px;">info</mat-icon>
                     </span>


          <mat-divider></mat-divider>


        </mat-list-item>
      </mat-list>
    </div>

    <div class="col-md-6">
      <mat-list>
        <h1 class="text-center">Subscribed Subjects</h1>
        <mat-list-item *ngFor="let c of selectedCategories">

          <div mat-line>{{ c.cTitle }}</div>

          <span class="material-symbols-outlined">
                        <mat-icon class="icon" mat-list-icon style="color:green;margin-left: 20px;">done</mat-icon>
                    </span>
          <span class="material-symbols-outlined">
                        <mat-icon class="icon" (click)="deleteCategory(c.userCategoryId,c.cTitle)" mat-list-icon
                                  style="color:red;margin-left: 20px;">delete</mat-icon>
                    </span>


          <mat-divider></mat-divider>


        </mat-list-item>
        <div class="col-md-12" *ngIf="selectedCategories.length == 0">
          <mat-card>
            <mat-card-content>
              <h3>Seems like you have not subscribed any subject yet. First off all subscribe subject that you
                need.</h3>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-list>
    </div>

  </div>
</div>




<form method="post" action="https://sandbox.payhere.lk/pay/checkout">
  <input type="hidden" name="merchant_id" value="1223111">    <!-- Replace your Merchant ID -->
  <input type="hidden" name="return_url" value="http://sample.com/return">
  <input type="hidden" name="cancel_url" value="http://sample.com/cancel">
  <input type="hidden" name="notify_url" value="http://sample.com/notify">
  <br><br>Item Details<br>
  <input type="text" name="order_id" value="ItemNo12345">
  <input type="text" name="items" value="Door bell wireless"><br>
  <input type="text" name="currency" value="LKR">
  <input type="text" name="recurrence" value="1 Month">
  <input type="text" name="duration" value="Forever">
  <input type="text" name="amount" value="1000">
  <br><br>Customer Details<br>
  <input type="text" name="first_name" value="Saman">
  <input type="text" name="last_name" value="Perera"><br>
  <input type="text" name="email" value="samanp@gmail.com">
  <input type="text" name="phone" value="0771234567"><br>
  <input type="text" name="address" value="No.1, Galle Road">
  <input type="text" name="city" value="Colombo">
  <input type="hidden" name="country" value="Sri Lanka">
  <input type="hidden" name="hash" [value]="this.hashcode">    <!-- Replace with generated hash -->
  <input type="submit" (click)="generateHash()" value="Buy Now">
</form>
