<!--
<div class="outer">
  <div class="upper">
    <div class="row">
      <div class="col-sm-6 col-lg-6 upper-inner left">

        <mat-card *ngIf="user">
          <mat-card-content>
            <div class="bootstrap-wrapper">
              <div class="container">

                <div class="row">
                  <div class="col-md-10 offset-md-1">
                    <table class="table text-center">
                      <tr>
                        <td>Username</td>
                        <td>{{ user.username }}</td>
                      </tr>

                      <tr>
                        <td>Email</td>
                        <td>{{ user.email }}</td>
                      </tr>

                      <tr>
                        <td>Status</td>
                        <td>{{ user.enabled ? "ACTIVE" : "NOT-ACTIVE" }}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>

        </mat-card>

      </div>

      <div class="col-sm-6 col-lg-6 upper-inner right">

        <mat-card>
          <mat-card-content>
            <div class="left-outer">
              <h1>Check out user working history</h1>
              <div class="left-inner">
                <mat-form-field appearance="fill" class="" style="width: 100%;">
                  <mat-label>Filter history :</mat-label>
                  <mat-select name="category" [(ngModel)]="selectSubject">
                    <mat-option *ngFor="let c of selectedCategories" [value]="c.cTitle" (click)="setAnalyse()">
                      {{ c.cTitle }}
                    </mat-option>
                    <mat-option value="">None
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <table class="table table-striped table-bordered">

                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Category</th>
                      <th>Title</th>
                      <th>Your Marks</th>
                      <th>Date & Time (Finished time)</th>
                      <th>Saved time</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let c of userHistory|filterSubject:selectSubject;let i =index">
                      <td>{{i+1}}</td>
                      <td>{{c.category}}</td>
                      <td>{{c.title}}</td>
                      <td>{{c.yourMarks}}/{{c.fullMarks}}</td>
                      <td>{{c.date}}</td>
                      <td>{{c.savedTime}}</td>
                    </tr>
                  </tbody>

                </table>

                <div class="container text-center mt20 mb20">
                  <button (click)="loadMore()" mat-raised-button *ngIf="showMoreBtn" color="primary">
                    Load More
                  </button>
                </div>

              </div>
            </div>
          </mat-card-content>
        </mat-card>

      </div>

    </div>
  </div>

  </div>




              <ngx-charts-pie-chart
              [results]="pieChartArray"
              [view]="viewPie"
              [scheme]="colorSchemePie"
              [gradient]="gradient"
              [legend]="showLegend"
              [legendPosition]="legendPositionPie"
              [labels]="showLabels"
              [doughnut]="false"
              (select)="onSelect($event)"
              (activate)="onActivate($event)"
              (deactivate)="onDeactivate($event)">
              </ngx-charts-pie-chart>











                <ngx-charts-bar-vertical
                [results]="BarChartArray"
                [view]="viewBar"
                [scheme]="colorSchemeBar"
                [schemeType]="schemeType"
                [gradient]="gradient"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [noBarWhenZero]="noBarWhenZero"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [animations]="animations"
                [showGridLines]="showGridLines"
                [barPadding]="barPadding"
                [tooltipDisabled]="tooltipDisabled">
                </ngx-charts-bar-vertical>















-->


<div class="outer">

  <mat-tab-group
    (selectedTabChange)="myTabFocusChange($event)">
  >

    <mat-tab label="Profile">

      <mat-card *ngIf="user">

        <mat-card-content>
          <div class="bootstrap-wrapper">
            <div class="container">
              <div class="container text-center">
                <img
                  src="https://t4.ftcdn.net/jpg/03/46/93/61/360_F_346936114_RaxE6OQogebgAWTalE1myseY1Hbb5qPM.jpg"
                  alt=""
                  class="profile-image"
                />

                <h1 class="mt20">{{ user.firstName }} {{ user.lastName }}</h1>
              </div>

              <div class="row">
                <div class="col-md-10 offset-md-1">
                  <!-- //table Details  -->
                  <table class="table text-center">
                    <tr>
                      <td>Username</td>
                      <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                      <td>Userid</td>
                      <td>EXAM{{ user.id }}</td>
                    </tr>
                    <tr>
                      <td>Phone</td>
                      <td>{{ user.phone }}</td>
                    </tr>
                    <tr>
                      <td>Role</td>
                      <td>{{ user.authorities[0].authority }}</td>
                    </tr>
                    <tr>
                      <td>Status</td>
                      <td>{{ user.enabled ? "ACTIVE" : "NOTACTIVE" }}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="text-center">
          <button mat-raised-button color="primary">UPDATE</button>
          <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
      </mat-card>

    </mat-tab>

    <mat-tab *ngFor="let c of selectedCategories" [label]="c.cTitle">


      <div class="container">
        <div class="row">
          <div class="col-9">

            <table class="table table-striped table-bordered">

              <thead>
              <tr>
                <th>No</th>
                <th>Title</th>
                <th>Category</th>
                <th>Your Marks</th>
                <th>Date & Time (Finished time)</th>
                <th>Saved time</th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let c of userHistory; let i =index">
                <td>{{i + 1}}</td>
                <td>{{c.category}}</td>
                <td>{{c.title}}</td>
                <td>{{c.yourMarks}}/{{c.fullMarks}}</td>
                <td>{{c.date}}</td>
                <td>{{c.savedTime}}</td>
              </tr>
              </tbody>

            </table>

            <div class="container text-center mt20 mb20">
              <button (click)="loadMore()" mat-raised-button *ngIf="showMoreBtn" color="primary">
                Load More
              </button>
            </div>


          </div>


          <div class="col-2 text-center">


                <div class="line text-center">
                  <h3>Chart of Marks by date</h3>
                  <ngx-charts-line-chart
                    [results]="lineChart"
                    [view]="view"
                    [scheme]="colorSchemeLineChart"
                    [legend]="legendLineChart"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxis]="xAxis"
                    [yAxis]="yAxis"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    [timeline]="timeline">
                  </ngx-charts-line-chart>
                </div>

                <div class="pie text-center" style="margin-top: 20px!important;">
                  <h3>Chart of wrong and correct answers</h3>
                  <ngx-charts-advanced-pie-chart
                    [results]="pieChartArray"
                    [view]="viewPie"
                    [scheme]="colorSchemePie"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)">
                  </ngx-charts-advanced-pie-chart>
                </div>


            </div>

        </div>


      </div>


      <!--end pie chart-->


    </mat-tab>

  </mat-tab-group>


</div>


