<div class="row">
  <div class="col-md-6">
    <mat-card *ngIf="user">
      <mat-card-content>
        <div class="bootstrap-wrapper">
          <div class="container">
            <div class="container text-center">
              <img src="https://t4.ftcdn.net/jpg/03/46/93/61/360_F_346936114_RaxE6OQogebgAWTalE1myseY1Hbb5qPM.jpg"
                alt="" class="profile-image" />
            </div>
            <div class="row">
              <div class="col-md-10 offset-md-1">
                <!-- //table Details  -->
                <table class="table text-center">
                  <tr>
                    <td>Username</td>
                    <td>{{ user.username }}</td>
                  </tr>
                  <tr>
                    <td>Userid</td>
                    <td>EXAM-{{ user.id }}</td>
                  </tr>
                  <tr>
                    <td>Phone</td>
                    <td>{{ user.phone }}</td>
                  </tr>
                  <tr>
                    <td>Role</td>
                    <td>{{ user.authorities[0].authority }}</td>
                  </tr>
                  <tr>
                    <td>Status</td>
                    <td>{{ user.isEnabled ? "ACTIVE" : "NOT-ACTIVE" }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>

    </mat-card>
  </div>
  <div class="col-md-6">
    <div class="left-outer">
      <div class="left-inner">
        <button mat-button (click)="check()">Your Progress</button>
        <!-- <div *ngFor="let c of userHistory; let i = index">
          <h3>{{userHistory[0].date}}</h3>
          <h3>{{userHistory[0].paper}}</h3>
          <h3>{{userHistory[0].yourMarks}}</h3>
          <h3>{{userHistory[0].fullMarks}}</h3>
        </div>
      </div> -->

      <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Paper</th>
                <th>Full Marks</th>
                <th>Your Marks</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of userHistory">
                <td>{{c.paper}}</td>
                <td>{{c.fullMarks}}</td>
                <td>{{c.yourMarks}}</td>
                <td>{{c.date}}</td>
            </tr>
        </tbody>
    </table>

    </div>
  </div>
</div>