#outer {
  width: 100%!important;
  height: 100vh;
}

#profile-outer{
  width: 100%!important;
  height: 80vh;
}

#profile-details{
  margin-top: 10px;
  padding: 20px;
  border: 1px solid black;
}

#todo{
  margin-top: 10px;
  padding: 20px;
  border: 1px solid black
}

#profile-control{
  margin-top: 10px;
  border: 1px solid black;
  padding: 10px;
}

.profile-image {
  margin-top: 10px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;

}

.table-1 {
  width: 100%!important;
  border-collapse: collapse;
}

.table-2 {
  width: 100%;
}

.table-1 tr td, .table-2 tr td{
  padding: 15px 10px;
}

#table-div{
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: -8px 2px 14px 5px rgba(7, 6, 6, 0.71);
  -webkit-box-shadow: -8px 2px 14px 5px rgba(7, 6, 6, 0.71);
  -moz-box-shadow: -8px 2px 14px 5px rgba(7, 6, 6, 0.71);
  height: auto;
}

#chart-div{
  box-shadow: -8px 2px 14px 5px rgba(7, 6, 6, 0.71);
  -webkit-box-shadow: -8px 2px 14px 5px rgba(7, 6, 6, 0.71);
  -moz-box-shadow: -8px 2px 14px 5px rgba(7, 6, 6, 0.71);
  padding-top: 10px;
}


.profile-image {
  max-width: 150px;
  max-height: 150px;
  border: 2px solid #ff4081;
  border-radius: 50%;
}


.header {
   margin: 0 auto!important;
  padding: 50px;
}


