<div id="outer">

  <mat-tab-group
    style="margin-bottom: 10px"
    (selectedTabChange)="myTabFocusChange($event)">
    >

    <mat-tab label="Profile">
      <ng-template mat-tab-label>
        <span class="bold-label">Profile</span>
      </ng-template>
      <div class="row" id="profile-outer">
        <div class="col-xl-6 col-lg-6 col-md-6 col-12" id="profile-details">
          <mat-card>




            <!-- //table Details  -->
            <table class="table-1 text-center table-striped table-bordered">
              <tr>
                <td>Username</td>
                <td>{{ user.username }}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{ usermail }}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td>{{ user.enabled ? "ACTIVE" : "NOTACTIVE" }}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>
                  <button routerLink="/change-email" class="btn">
                    Change
                  </button>
                </td>
              </tr>
              <tr>
                <td>Password</td>
                <td>
                  <button (click)="changePassword()" class="btn">
                    Change
                  </button>
                </td>
              </tr>
              <tr>
                <td>Take a break</td>
                <td>
                  <button (click)="logout()" class="btn">
                    Logout
                  </button>
                </td>
              </tr>
            </table>

          </mat-card>



        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-12" id="todo">
          <mat-card [style.min-height.px]="480">

            <div class="outer">
              <h1 style="text-align: center;font-family: 'Lobster', cursive;
  font-family: 'Roboto Mono', monospace;">My Todos</h1>


              <div class="container">
                <mat-form-field appearance="fill" class="form">
                  <mat-label>Enter task here</mat-label>
                  <input
                    matInput
                    placeholder="Describe your task"
                    [(ngModel)]="newTodo"
                    type="text"
                    (keydown.enter)="saveTodo()"
                  >
                  <div matSuffix matTooltip="click me to add"
                       [matTooltipPosition]="'above'">
                    <mat-icon  (click)="saveTodo()">add</mat-icon>
                  </div>

                </mat-form-field>


                <table class="table table-striped mt20">
                  <thead>
                  <tr>
                    <th>No</th>
                    <th>Task</th>
                    <th>Current Status</th>
                    <th>Delete task</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let todo of todos;let i = index;">
                    <th scope="row">{{i + 1}}</th>
                    <td class="{{(!todo.isCompleted)?'done':''}} task" (click)="done(i)">
                      <div matSuffix matTooltip="click me change task status"
                           [matTooltipPosition]="'above'">
                        {{todo.name}}
                      </div>
                    </td>
                    <td style="color: red">
                      <mat-icon class="{{(!todo.isCompleted)?'hide':'show'}}">close</mat-icon>
                      <mat-icon class="{{(!todo.isCompleted)?'hide':'show'}}">sentiment_very_dissatisfied</mat-icon>
                      <mat-icon style="color: #3B82F6" class="{{(!todo.isCompleted)?'show':'hide'}}">done</mat-icon>
                      <mat-icon style="color:#3B82F6" class="{{(!todo.isCompleted)?'show':'hide'}}">mood</mat-icon>

                    </td>
                    <th (click)="remove(i)">
                      <mat-icon>delete</mat-icon>
                    </th>
                  </tr>
                  </tbody>
                </table>
                <h2 *ngIf="todos.length==0" class="text-center">-</h2>

              </div>

            </div>

          </mat-card>
        </div>


      </div>


    </mat-tab>

    <mat-tab label="abc" *ngFor="let c of selectedCategories" [label]="c.cTitle">
      <ng-template mat-tab-label>
        <span class="bold-label">{{c.cTitle}}</span>
      </ng-template>
      <div class="row">
        <div class="col-12 text-center">
          <div class="header">
            <h1
              style="font-size:30px;">
              Let's take a look what you have done so far
            </h1>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <mat-accordion multi>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>01.My history</b>
              </mat-panel-title>
              <mat-panel-description>
                <b>The performance is given in full detail</b>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="container-fluid">
              <table class="table-2 table-striped table-bordered align-items-center justify-content-center">

                <thead>
                <tr>
                  <th>No</th>
                  <th>Year</th>
                  <th>Your Marks</th>
                  <th>Date & Time (Finished time)</th>
                  <th>Saved time</th>
                </tr>
                </thead>

                <tbody>
                <tr *ngFor="let c of userHistory; let i =index">
                  <td>{{i + 1}}</td>
                  <td>{{c.title}}</td>
                  <td>{{c.yourMarks}}/{{c.fullMarks}}</td>
                  <td>{{c.date}}</td>
                  <td>{{c.savedTime}}</td>
                </tr>
                </tbody>

              </table>

              <div class="container text-center mt20 mb20">
                <button (click)="loadMore()" class="btn"  *ngIf="showMoreBtn" >
                  Load More
                </button>
              </div>
            </div>

          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="isExpanded">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>02.My progress</b>
              </mat-panel-title>
              <mat-panel-description>
                <b>Progress is visualized in a chart.</b>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="" style="max-height: 100vh">
              <ngx-charts-line-chart
                [results]="lineChart"
                [scheme]="colorSchemeLineChart"
                [legend]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [xAxis]="true"
                [yAxis]="true"
                [xAxisLabel]="'Table No'"
                [yAxisLabel]="'Marks'"
                [timeline]="true"
                [xAxisTickFormatting]="xAxisTickFormatting">
              </ngx-charts-line-chart>
            </div>






            <div class="container text-center mt20 mb20">
              <button (click)="loadMore()"  *ngIf="showMoreBtn" class="btn">
                Load More
              </button>
            </div>

          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <b>03.My average</b>
              </mat-panel-title>
              <mat-panel-description>
                <b>Summary of the current situation</b>
              </mat-panel-description>
            </mat-expansion-panel-header>


            <div class="" style="max-height: 100vh">
              <ngx-charts-advanced-pie-chart
                [results]="pieChartArray"
                [scheme]="colorSchemePie"
              >
              </ngx-charts-advanced-pie-chart>
            </div>

            <div class="container text-center mt20 mb20">
              <button (click)="loadMore()" class="btn" *ngIf="showMoreBtn" >
                Load More
              </button>
            </div>

          </mat-expansion-panel>

        </mat-accordion>
      </div>

    </mat-tab>



  </mat-tab-group>





</div>


