<div class="bootstrap-wrapper" style="margin-top: 10px">
  <div class="row mt20">
    <div class="col-md-12" style="display:flex;flex-direction: column;justify-content: center;align-items: center">
      <h1>
        Add Question to <span style="font-weight: bold">{{ qTitle }} - {{ qCategory }}</span>
      </h1>

      <mat-card style="width: 80%;min-height: 70vh;height: auto">

        <mat-card-content>
          <form class="mt20" [formGroup]="QuestionsForm">


            <div class="col-md-12" style="display: flex;align-items: center;justify-content: center;flex-direction: row;margin-bottom: 20px">

              <input
                type="file"
                multiple
                value="select"
                formControlName="image"
                #selectFile
                (change)="onFileSelected($event)"
              >

              <div class="container text-center">
                <button mat-raised-button style="width: 20%" color="primary" [disabled]="QuestionsForm.invalid ||  question.questionImages.length == 0" (click)="formSubmit()" >Add</button>
              </div>

            </div>




            <div class="row">

              <div *ngFor="let file of question.questionImages; let i =index;" style="position: relative">
                <span class="btn-remove-image" (click)="removeImage(i)">x</span>
                <img [src]="file.url" width="80%">
              </div>

            </div>

            <!-- content field -->

            <!-- <mat-form-field class="w100">
              <mat-label>Write question content</mat-label>
              <textarea
                required
                rows="8"
                [(ngModel)]="question.content"
                name="content"
                matInput
                placeholder="Enter here"
              ></textarea>
            </mat-form-field> -->

            <!-- options -->

            <div class="row">
              <div class="col-md-6">
                <!-- option1 -->

                <mat-form-field class="w100">
                  <mat-label>Enter Option1</mat-label>
                  <input
                    formControlName="option1"
                    type="text"
                    matInput
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <!-- option2 -->
                <mat-form-field class="w100">
                  <mat-label>Enter Option2</mat-label>
                  <input
                    formControlName="option2"
                    type="text"
                    matInput
                  />
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <!-- option3 -->
                <mat-form-field class="w100">
                  <mat-label>Enter Option3</mat-label>
                  <input
                    formControlName="option3"
                    type="text"
                    matInput
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <!-- option4 -->
                <mat-form-field class="w100">
                  <mat-label>Enter Option4</mat-label>
                  <input
                    formControlName="option4"
                    type="text"
                    matInput
                  />
                </mat-form-field>
              </div>
              <div class="row">
              <div class="col-md-6">
                <!-- option5 -->
                <mat-form-field class="w100" >
                  <mat-label>Enter Option5</mat-label>
                  <input
                    formControlName="option5"
                    type="text"
                    matInput
                  />
                </mat-form-field>
                </div>
              </div>
            </div>

            <!-- answer -->
            <mat-form-field class="w100">
              <mat-label>Select Answer</mat-label>
              <mat-select  [(ngModel)]="question.answer" formControlName="answer">
                <mat-option
                  *ngIf="this.QuestionsForm.get('option1').value!"
                  [value]="this.QuestionsForm.get('option1').value!"
                  >{{ this.QuestionsForm.get('option1').value! }}</mat-option
                >
                <mat-option
                  *ngIf="this.QuestionsForm.get('option2').value!"
                  [value]="this.QuestionsForm.get('option2').value!"
                  >{{ this.QuestionsForm.get('option2').value! }}</mat-option
                >
                <mat-option
                  *ngIf="this.QuestionsForm.get('option3').value!"
                  [value]="this.QuestionsForm.get('option3').value!"
                  >{{ this.QuestionsForm.get('option3').value! }}</mat-option
                >
                <mat-option
                  *ngIf="this.QuestionsForm.get('option4').value!"
                  [value]="this.QuestionsForm.get('option4').value!"
                  >{{ this.QuestionsForm.get('option4').value! }}</mat-option
                >
                <mat-option
                  *ngIf="this.QuestionsForm.get('option5').value!"
                  [value]="this.QuestionsForm.get('option5').value!"
                >{{ this.QuestionsForm.get('option5').value! }}</mat-option
                >
              </mat-select>

            </mat-form-field>


          </form>

        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>

<!-- {{ question | json }} -->
