

<!DOCTYPE html>
<html>

<head>
  <style>
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
    }

    .form-header {
      text-align: center;
      padding: 20px 20px;
      font-family: 'Lobster', cursive;
    }


    button {
      margin-left: 10px;
    }

  </style>
</head>
<body>

<div class="container">
  <div class="inner">
    <h1 class="form-header">Sign Up</h1>
    <mat-vertical-stepper [@.disabled]="true" #stepper="matVerticalStepper" linear>
      <mat-step [stepControl]="personalForm" [editable]="editable">
        <form [formGroup]="personalForm">
          <ng-template matStepLabel>Personal Details</ng-template>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              formControlName="email"
              matInput
              placeholder="Enter email"
              type="email"
            />
          </mat-form-field>
          <!--<mat-form-field class="full-width" appearance="outline">
            <mat-label>Username</mat-label>
            <input
              placeholder="this is your login credential"
              formControlName="Username"
              type="text"
              matInput
            />
          </mat-form-field>-->

          <div>
            <button mat-raised-button matStepperNext color="primary" (click)="formSubmit()"
                    [disabled]="personalForm.invalid">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="verifyForm" [editable]="editable">
        <form [formGroup]="verifyForm">

          <h3 class="text-center" style=" font-family: 'Lobster', cursive;
  font-family: 'Roboto Mono', monospace;">We have send a verification code to <b>{{email}}</b></h3>
          <ng-template matStepLabel>Email Verification</ng-template>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Enter Verification Code</mat-label>
            <input
              autofocus
              required
              formControlName="code"
              type="text"
              matInput
            />
          </mat-form-field>
          <br>

          <h5>nothing after 2 minuets ?&nbsp;&nbsp;<span (click)="resendMail()" class="anchor"><b>Resend code</b></span>
          </h5>
          <div>
            <button mat-raised-button color="primary" matStepperPrevious>
              <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-raised-button color="primary" matStepperNext (click)="verify()" [disabled]="verifyForm.invalid">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="passwordForm" [editable]="editable">
        <form [formGroup]="passwordForm">
          <ng-template matStepLabel>Create Password</ng-template>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              formControlName="password"
              [type]="changeType?'password':'text'"
              placeholder="Create own strong Password"
              matInput
            />
            <mat-icon matSuffix *ngIf="!show" (click)="showPassword()">visibility</mat-icon>
            <mat-icon matSuffix *ngIf="show" (click)="showPassword()">visibility_off</mat-icon>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Re enter password</mat-label>
            <input
              formControlName="confirm"
              [type]="changeType?'password':'text'"
              placeholder="Re enter password"
              matInput
            />
            <mat-icon matSuffix *ngIf="!show" (click)="showPassword()">visibility</mat-icon>
            <mat-icon matSuffix *ngIf="show" (click)="showPassword()">visibility_off</mat-icon>
            <div *ngIf="passwordForm.errors?.['passwordMismatcgError']">

              <small class="text-danger"><b>Error : Password mismatched !!</b></small>

            </div>
          </mat-form-field>
          <div>

            <button mat-raised-button color="primary" matStepperNext [disabled]="passwordForm.invalid" (click)="createPassword()">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [editable]="editable">
        <ng-template matStepLabel>Success</ng-template>
        <p>Registration Success ! Explore Now</p>
        <div>
          <button mat-raised-button color="primary" routerLink="/login">Login Now</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>

</body>
</html>



