

<!DOCTYPE html>
<html>

<head>
  <style>
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
    }

    .form-header {
      text-align: center;
      padding: 20px 20px;
    }


    button {
      margin-left: 10px;
    }

  </style>
</head>
<body>

<div class="container">
  <div class="inner">

    <h1 class="form-header">Sign Up</h1>
    <mat-vertical-stepper style="background-color:#dfe4ea " [@.disabled]="true" #stepper="matVerticalStepper" [linear]="true">
      <mat-step [stepControl]="personalForm" [editable]="editable">
        <form [formGroup]="personalForm">
          <ng-template matStepLabel>Personal Details</ng-template>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              autofocus
              formControlName="email"
              matInput
              placeholder="Enter email"
              type="email"
            />
          </mat-form-field>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>First Name</mat-label>
            <input
              placeholder="this is your login credential"
              formControlName="firstName"
              type="text"
              matInput
            />
          </mat-form-field>

          <div>
            <button mat-raised-button matStepperNext color="primary" (click)="SignUpWithMail(stepper)"
                    [disabled]="personalForm.invalid">
              Next Step
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="verifyForm" [editable]="editable">
        <form [formGroup]="verifyForm">

          <h3 class="text-center" style=" font-family: 'Lobster', cursive;
  font-family: 'Roboto Mono', monospace;">We have send a verification code to <b>{{email}}</b></h3>
          <ng-template matStepLabel>Email Verification</ng-template>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Enter Verification Code</mat-label>
            <input
              autofocus
              required
              formControlName="code"
              type="text"
              matInput
            />
          </mat-form-field>
          <br>




            <h4 *ngIf="isResendDisabled">Nothing after {{ getFormattedTime() }} ?&nbsp;&nbsp;</h4>


          <div style="flex-direction: row;display: flex" >
            <button mat-raised-button color="primary" *ngIf="!isResendDisabled" (click)="resendMail()" >Resend code</button>
            <button mat-raised-button color="primary"  matStepperNext (click)="verifyOtp()" [disabled]="verifyForm.invalid">
              Verify OTP
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="passwordForm" [editable]="editable">
        <form [formGroup]="passwordForm">
          <ng-template matStepLabel>Create Password</ng-template>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              formControlName="password"
              [type]="changeType?'password':'text'"
              placeholder="Create own strong Password"
              matInput
            />
            <mat-icon matSuffix *ngIf="!show" (click)="showPassword()">visibility</mat-icon>
            <mat-icon matSuffix *ngIf="show" (click)="showPassword()">visibility_off</mat-icon>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Re enter password</mat-label>
            <input
              formControlName="confirm"
              [type]="changeType?'password':'text'"
              placeholder="Re enter password"
              matInput
            />
            <mat-icon matSuffix *ngIf="!show" (click)="showPassword()">visibility</mat-icon>
            <mat-icon matSuffix *ngIf="show" (click)="showPassword()">visibility_off</mat-icon>
            <div *ngIf="passwordForm.errors?.['passwordMismatchError']">

              <small class="text-danger"><b>Password mismatched</b></small>

            </div>
          </mat-form-field>
          <div>

            <button mat-raised-button color="primary" matStepperNext [disabled]="passwordForm.invalid" (click)="EnableUser()">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [editable]="editable">
        <ng-template matStepLabel>Success</ng-template>
        <p>Registration Success ! Explore Now</p>
        <div>
          <button mat-raised-button color="primary" routerLink="/login">Login Now</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>

    <h3 style="font-weight: bold" class="text-center">Already registered ? <a routerLink="/login">Login</a></h3>

  </div>
</div>

</body>
</html>



