

.example-header-image {
  background-image: url("/assets/exam1.png");
  background-size: cover;
}

.outer{
  width: 100%;
  min-height:100vh;
  height: auto;
  border: 1px solid red;
  margin: 5px;
}

a{
  color: white;
  text-decoration: none;
}

mat-icon:hover{
   cursor: pointer;
}




















