.row{
  margin-left: 5px;
}

.example-header-image {
  background-image: url("/assets/exam1.png");
  background-size: cover;
}

.outer{
  padding-top: 10px;
  width: 100%;
  min-height:100vh;
  height: auto;
  border: 1px solid red;
}
.template{
  margin-right: 10px;
}

a{
  color: white;
  text-decoration: none;
}

mat-icon:hover{
  cursor: pointer;
}



















