<div class="outer">
    <div class="inner">

        <form [formGroup]="mailForm" class="form" *ngIf="show">
            <h1 class="text-center">Forgot Password ? </h1>
            <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label>Enter Your mail</mat-label>
                <input formControlName="email" type="email" matInput />
            </mat-form-field>
            <br>


            <button style="width: 100%" type="submit" [disabled]="mailForm.invalid" mat-raised-button color="primary"
                (click)="sendOtp()">
                Send OTP
            </button>
        </form>


        <form [formGroup]="changeForm" class="form" *ngIf="!show">
            <h1 class="text-center">Check your mail & Enter verify code</h1>
            <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label>Verification Code</mat-label>
                <input formControlName="otp" type="text" matInput />
            </mat-form-field>
          <h5>nothing after 2 minuets ?&nbsp;&nbsp;<span (click)="resendMail()" class="anchor">Resend code</span></h5>
            <br>
            <button style="width: 100%" type="submit" [disabled]="mailForm.invalid" mat-raised-button color="primary"
                (click)="verifyAndSend()">
                Verify OTP
            </button>
        </form>
    </div>
</div>
