.outer{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3F51B5;
  }


  .inner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    background-color:white;
    width: 500px;
    height: 500px;
  }

  .anchor:hover{
    cursor: pointer;
    text-decoration: underline;
  }

  .anchor{
    color: #3F51B5;
  }

  .form{
    width: 90%;
  }

mat-icon:hover {
  cursor: pointer;
}
