.outer{
  border-radius: 7px;
  background-color: white;
  box-shadow: 14px 8px 18px -1px rgba(0,0,0,0.54);
  -webkit-box-shadow: 14px 8px 18px -1px rgba(0,0,0,0.54);
  -moz-box-shadow: 14px 8px 18px -1px rgba(0,0,0,0.54);
  padding: 10px;
}



.full-width {
  width: 100%;
}

.forgot{
margin-top: 10px;
color: brown;
}

.forgot:hover{
  cursor: pointer;
  color: blue;
}

mat-icon:hover{
cursor: pointer;
}
