<div class="row">
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12">

    <div class="inner">
      <button routerLinkActive="active" style="width:100%!important;" class="btn" mat-raised-button routerLink="/user-dashboard/0"> All Quizzes
             </button>
             <button mat-raised-button  class="btn" routerLinkActive="active" [routerLink]="'/user-dashboard/' + c.cid"
                     *ngFor="let c of selectedCategories">{{c.cTitle}}
             </button>

             <div class="col-md-12" *ngIf="selectedCategories.length == 0">

               <mat-card-content class="mt20">
                 <h3>Empty Subject</h3>
               </mat-card-content>

               <button mat-raised-button color="Primary"  routerLink = "/select-subject" > Add Subject </button>

             </div>
    </div>


  </div>
</div>




