<mat-card class="side-bar">
  <mat-action-list>
    <!-- <div mat-subheader>Available Categories</div> -->

    <button routerLinkActive="active" class="btn" mat-list-item routerLink="/user-dashboard/0">
      <mat-icon mat-list-icon>quiz</mat-icon> All Quizzes
    </button>

    <mat-divider></mat-divider>

    <button class="btn" routerLinkActive="active" [routerLink]="'/user-dashboard/' + c.cid" mat-list-item
      *ngFor="let c of selectedCategories"><mat-icon mat-list-icon>quiz</mat-icon> {{ c.cTitle}}
      <mat-divider></mat-divider>
    </button>

    <div class="col-md-12" *ngIf="selectedCategories.length == 0">

        <mat-card-content class="mt20">
          <h3>Empty Subject</h3>
        </mat-card-content>

        <button mat-raised-button color="Primary"  routerLink = "/select-subject" > Add Subject </button>

    </div>

  </mat-action-list>
</mat-card>



