<!--<div class="product-navbar">
  <div class="product-navbar-centered">
    <ul>
      <li>
        <a href="#" class="">
                        <span>
                            LINK
                        </span>
        </a>
      </li>
      <li>
        <a href="#" class="">
          LINK
        </a>
      </li>
    </ul>
  </div>
</div>-->

<!--<header class="navbar hero" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">
        <p>
          <img src="assets/logocrop.png">
          Ceylon Papers Hub
        </p>
      </a>
    </div>
  </div>
</header>-->

<div id="about-main">
  <div class="jumbotron">
    <div class="jumbotron-inner">
      <div class="top-box">
        <div class="content-box">
          <h1>
            We Are Ceylon Papers Hub
          </h1>
          <p>
            Ceylon Papers Hub is the largest papers archive in Sri Lanka.Our mission is to provide students with access to past papers and other educational resources that can help them prepare for their exams and achieve their goals.<br />
          </p>
        </div>
      </div>
    </div>
    <div class="img-layer-container">
      <div class="team-image" id="team-image">
        <img src="assets/me.jpg" />
      </div>

      <div class="circles-container">
        <div class="img-1">
          <img src="" />
        </div>
        <div class="img-2">
          <img src="" />
        </div>
      </div>
    </div>
  </div>
  <div class="story-container">
    <div class="need-for-dx-container">
      <h3 class="text-center" style="text-decoration: underline">
        Our Mission
      </h3>
      <p>
        <b>
        Welcome to our website! We are a team of dedicated educators and professionals with a passion for helping students succeed in their academic pursuits. Our mission is to provide students with access to past papers and other educational resources that can help them prepare for their exams and achieve their goals.

        We believe that every student deserves access to high-quality educational materials, and that's why we've made it our mission to collect and curate past papers from Sri Lanka's top educational institutions. Our website is designed to be user-friendly and easy to navigate, so students can quickly find the past papers they need to prepare for their exams.

        At our website, we're committed to providing students with more than just past papers. We also offer study tips, exam strategies, and other helpful resources to help students excel in their studies. Our team is made up of experienced educators and professionals who are passionate about education and committed to helping students achieve their full potential.

        Thank you for choosing our website as your go-to resource for past papers and other educational materials. We're proud to be a part of your academic journey, and we look forward to helping you succeed!
        </b>
      </p>

    </div>
    <div class="container-divider"></div>
    <div class="need-for-dx-container">
      <h3 class="text-center" style="text-decoration: underline">
        අපේ මෙහෙවර
      </h3>
      <p>
        <b>
        අපගේ වෙබ් අඩවියට සාදරයෙන් පිළිගනිමු! අපි සිසුන්ට ඔවුන්ගේ අධ්‍යයන කටයුතු සාර්ථක කර ගැනීමට උපකාර කිරීම සඳහා කැප වූ අධ්‍යාපනඥයින් සහ වෘත්තිකයන් කණ්ඩායමකි. අපගේ මෙහෙවර සිසුන්ට ඔවුන්ගේ විභාග සඳහා සූදානම් වීමට සහ ඔවුන්ගේ අරමුණු සාක්ෂාත් කර ගැනීමට උපකාර කළ හැකි අතීත ප්‍රශ්න පත්‍ර සහ වෙනත් අධ්‍යාපනික සම්පත් වෙත ප්‍රවේශය ලබා දීමයි.

        සෑම සිසුවෙකුටම උසස් තත්ත්වයේ අධ්‍යාපනික ද්‍රව්‍ය සඳහා ප්‍රවේශය ලැබිය යුතු බව අපි විශ්වාස කරන අතර, ශ්‍රී ලංකාවේ ඉහළම අධ්‍යාපන ආයතනවලින් පසුගිය ප්‍රශ්න පත්‍ර එකතු කිරීම සහ ඒවා සකස් කිරීම අප අපගේ මෙහෙවර කර ඇත්තේ එබැවිනි. අපගේ වෙබ් අඩවිය පරිශීලක-හිතකාමී සහ සැරිසැරීමට පහසු වන පරිදි නිර්මාණය කර ඇත, එබැවින් සිසුන්ට තම විභාග සඳහා සූදානම් වීමට අවශ්‍ය පසුගිය ප්‍රශ්න පත්‍ර ඉක්මනින් සොයා ගත හැකිය.

        අපගේ වෙබ් අඩවියේ, අපි සිසුන්ට පසුගිය ලිපිවලට වඩා වැඩි යමක් ලබා දීමට කැපවී සිටිමු. සිසුන්ට ඔවුන්ගේ අධ්‍යයන කටයුතුවල විශිෂ්ටත්වය ලබා ගැනීමට උපකාර කිරීම සඳහා අපි අධ්‍යයන ඉඟි, විභාග උපාය මාර්ග සහ වෙනත් ප්‍රයෝජනවත් සම්පත් ද පිරිනමන්නෙමු. අපගේ කණ්ඩායම අධ්‍යාපනය කෙරෙහි දැඩි උනන්දුවක් දක්වන සහ සිසුන්ට ඔවුන්ගේ සම්පූර්ණ හැකියාවන් සාක්ෂාත් කර ගැනීමට උපකාර කිරීමට කැපවී සිටින පළපුරුදු අධ්‍යාපනඥයින් සහ වෘත්තිකයන්ගෙන් සමන්විත වේ.

        අතීත ලිපි ලේඛන සහ අනෙකුත් අධ්‍යාපනික ද්‍රව්‍ය සඳහා ඔබගේ යායුතු සම්පත ලෙස අපගේ වෙබ් අඩවිය තෝරා ගැනීම පිළිබඳව ඔබට ස්තුතියි. ඔබගේ අධ්‍යයන ගමනේ කොටස්කරුවෙකු වීම ගැන අපි ආඩම්බර වන අතර, ඔබට සාර්ථක වීමට උදවු කිරීමට අපි බලාපොරොත්තු වෙමු!
        </b>
      </p>

    </div>
    <div class="container-divider"></div>
    <div class="need-for-dx-container">
      <h3 class="text-center" style="text-decoration: underline">
        எங்கள் நோக்கம்
      </h3>
      <p>
        <b>
          எங்கள் வலைத்தளத்திற்கு வரவேற்கிறோம்! நாங்கள் அர்ப்பணிப்புள்ள கல்வியாளர்கள் மற்றும் வல்லுநர்களைக் கொண்ட குழுவாக இருக்கிறோம். மாணவர்கள் தங்கள் தேர்வுகளுக்குத் தயாராகி அவர்களின் இலக்குகளை அடைய உதவும் கடந்த கால தாள்கள் மற்றும் பிற கல்வி ஆதாரங்களுக்கான அணுகலை மாணவர்களுக்கு வழங்குவதே எங்கள் நோக்கம்.

          ஒவ்வொரு மாணவரும் உயர்தர கல்விப் பொருட்களைப் பெறுவதற்குத் தகுதியானவர்கள் என்று நாங்கள் நம்புகிறோம், அதனால்தான் இலங்கையின் உயர்தரக் கல்வி நிறுவனங்களில் இருந்து கடந்த கால ஆவணங்களைச் சேகரித்து சரிசெய்வதை நாங்கள் எங்கள் பணியாகக் கொண்டுள்ளோம். எங்கள் இணையதளம் பயனர்களுக்கு ஏற்றதாகவும், எளிதாக செல்லவும் வடிவமைக்கப்பட்டுள்ளது, எனவே மாணவர்கள் தங்களின் தேர்வுகளுக்குத் தயாராவதற்குத் தேவையான கடந்த கால தாள்களை விரைவாகக் கண்டறிய முடியும்.

          எங்கள் இணையதளத்தில், கடந்த கால தாள்களை விட அதிகமானவற்றை மாணவர்களுக்கு வழங்க நாங்கள் கடமைப்பட்டுள்ளோம். மாணவர்களின் படிப்பில் சிறந்து விளங்க உதவும் ஆய்வுக் குறிப்புகள், தேர்வு உத்திகள் மற்றும் பிற பயனுள்ள ஆதாரங்களையும் நாங்கள் வழங்குகிறோம். எங்கள் குழு அனுபவம் வாய்ந்த கல்வியாளர்கள் மற்றும் தொழில் வல்லுநர்களால் ஆனது, அவர்கள் கல்வியில் ஆர்வமுள்ளவர்கள் மற்றும் மாணவர்கள் தங்கள் முழு திறனை அடைய உதவுவதில் அர்ப்பணிப்புடன் உள்ளனர்.

          கடந்த கால ஆவணங்கள் மற்றும் பிற கல்விப் பொருட்களுக்கான ஆதாரமாக எங்கள் வலைத்தளத்தைத் தேர்ந்தெடுத்ததற்கு நன்றி. உங்கள் கல்விப் பயணத்தின் ஒரு பகுதியாக இருப்பதில் நாங்கள் பெருமிதம் கொள்கிறோம், மேலும் நீங்கள் வெற்றிபெற உதவ நாங்கள் எதிர்நோக்குகிறோம்!
        </b>
      </p>
    </div>
    <div class="container-divider"></div>
  </div>
</div>

<app-footer></app-footer>
