<div class="row">
  <div class="col-md-12">
    <form>
<h1 class="text-center">Filter Papers :</h1>

      <mat-form-field class="w100" style="width: 35%; margin-right: 30px;" appearance="outline">
        <mat-label>Enter Subject Here !!!</mat-label>

        <input
          type="search"
          name="searchText2"
          matInput
          placeholder=" EX: Physics / Chemistry "
          [(ngModel)]="searchText2"
        />
        <mat-icon (click)="clear2()" matSuffix >clear</mat-icon>
      </mat-form-field>


      <mat-form-field class="w100" style="width: 35%; margin-right: 30px;" appearance="outline">
        <mat-label>Enter Year !!!</mat-label>

        <input
          type="search"
          name="searchText1"
          matInput
          placeholder="  Ex: 2018 AL / 2015 OL "
          [(ngModel)]="searchText1"
        />
        <mat-icon (click)="clear1()" matSuffix>clear</mat-icon>
      </mat-form-field>

      <button style="width: 24%;height: 45px;" mat-raised-button color="primary" (click)="search()">Serach</button>
    </form >
  </div>
</div>

<mat-card class="mt10 mr20 ml20"  *ngFor="let q of quizzes">

  

  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      {{ q.title }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ q.category.title }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ q.description }}</p>
  </mat-card-content>
  <mat-card-action>
    <button
      [routerLink]="'/admin/view-questions/' + q.qId + '/' + q.title"
      mat-flat-button
      color="primary"
    >
      Questions
    </button>
    <button mat-stroked-button color="primary" class="ml20">
      Max Marks: {{ q.maxMarks }}
    </button>
    <button mat-stroked-button color="primary" class="ml20">
      Questions: {{ q.numberOfQuestions }}
    </button>
    <button
      [routerLink]="'/admin/quiz/' + q.qId"
      mat-flat-button
      color="primary"
      class="ml20"
    >
      Update
    </button>
    <button mat-flat-button color="primary" class="ml20"  [routerLink]="'/admin/attempts-history/' + q.qId">Attempts</button>

    <button
      mat-flat-button
      color="warn"
      class="ml10"
      (click)="deleteQuiz(q.qId)"
    >
      Delete
    </button>
  </mat-card-action>
</mat-card>



<div class="container text-center mt20 mb20 ">
  <button (click)="loadMore()" mat-raised-button *ngIf="showMoreBtn" color="primary">
    Load More
  </button>

  <button  style="margin-left: 10px;" routerLink="/admin/add-quiz" mat-raised-button color="primary">
    Add New Quiz
  </button>
</div>
