
<main style="margin-top: 50px">
  <ul id="cards">
    <li class="card"  id="card_1">
      <div class="card__content">
        <div  style="padding: 10px">
          <h2><b>Hello Folks,</b></h2>
          <h3>Welcome to the largest online past papers & model papers library in the Sri lanka. You can find <b>A/L,O/L,Grade 5 scholarship past papers & many more..</b> Feel free to explore our site.</h3>
          <p><a href="#top" class="btn btn--accent">Read more</a></p>
        </div>

        <figure>
          <img src="assets/welcome.jpg" alt="Image description">
        </figure>
      </div>
    </li>
    <li class="card" id="card_2">
      <div class="card__content" >
        <div  style="padding: 10px">
          <h2><b>No More Trouble,</b></h2>
          <ul >
            <li><b>One click far away from the papers</b> </li>
            <li><b>Full papers & marking</b> </li>
            <li><b>Attempt to the online mcq test & get results within a second</b> </li>
            <li><b>No one interrupt your test(No any advertisement) & many more..</b> </li>
          </ul>
          <p><a href="#top" class="btn btn--accent">Read more</a></p>
        </div>
        <figure>
          <img src="assets/card-2.jpg" alt="Image description">
        </figure>
      </div>
    </li>
    <li class="card" id="card_3">
      <div  class="card__content">
        <div  style="padding: 10px">
          <h2><b>No More Time Wasting,</b></h2>
          <ul>
            <li><b> Only you have to do focus on your answers and select it. when your submit paper we will let you your marks,wrong question,right question and defenition as well.</b></li>
          </ul>
          <p><a href="#top" class="btn btn--accent">Read more</a></p>
        </div>
        <figure>
          <img src="assets/timewasting.jpg" alt="Image description">
        </figure>
      </div>
    </li>
    <li class="card" id="card_4">
      <div class="card__content" style="background-color: #aaaaaa">
        <div  style="padding: 10px">
          <h2><b>Let us analyse your progress,</b></h2>
          <ul>
            <li><b>You can see analyse and progress for each subject</b>  </li>
            <li><b>Average of Correct,Wrong answers</b> </li>
            <li><b>Number of question you have done & many more..</b> </li>

          </ul>
          <p><a href="#top" class="btn btn--accent">Read more</a></p>
        </div>
        <figure>
          <img src="assets/analyse.jpg" alt="Image description">
        </figure>
      </div>
    </li>
    <li class="card" id="card_5">
      <div class="card__content">
        <div  style="padding: 10px">
          <h2><b>Worthy for your money</b></h2>
          <ul>
            <li><b>There are every exits paper for each subject(EX: 1980-2023 physics A/L papers & marking)</b>  </li>
            <!--<li><b>For only for rs.1000.00 only for each subject</b> </li>
            <li><b>for rs.1000.00 you can get papers(every exits paper included),marking,definition</b> </li>
-->
          </ul>
          <p><a href="#top" class="btn btn--accent">Read more</a></p>
        </div>
        <figure>
          <img src="assets/money.jpg" alt="Image description">
        </figure>
      </div>
    </li>
  </ul>
</main>

<app-footer></app-footer>
