
<!--<main style="margin-top: 50px">
  <ul id="cards">
    <li class="card"  id="card_1">
      <div class="card__content">
        <div  style="padding: 10px">
          <h2><b>සාදරයෙන් පිළිගනිමු,</b></h2>
          <h4><b>ශ්‍රී ලංකාවේ විශාලතම පසුගිය ප්‍රශ්ණ පත්‍රිකා එකතුව වෙත සාදරයෙන් පිළිගනිමු. ඔබට උසස් පෙළ, සා/පෙළ, 5 ශ්‍රේණියේ ශිෂ්‍යත්ව පසුගිය ප්‍රශ්න පත්‍ර සහ තවත් බොහෝ ප්‍රශ්ණ පත්‍රිකා අපගේ වෙබ් අඩවියෙන් සොයා ගත හැක. යල් පැන ගිය අධ්‍යාපන මෙවලම් අත්හැර නව්‍යකරණය වූ මාර්ගගත අධ්‍යාපන ක්‍රමවේදයට ඔබත් අදම එක් වී ඵලදායී ප්‍රතිපල ලබාගන්න.  </b></h4>
         &lt;!&ndash; <p>Welcome to the largest online past papers & model papers library in the Sri lanka. You can find <b>A/L,O/L,Grade 5 scholarship past papers & many more..</b> Feel free to explore our site.</p>
          &ndash;&gt;<button mat-raised-button color="primary" routerLink="/signup">මුල් වරට Register වීමට</button>
          <button mat-raised-button color="primary">භාවිතයට උපදෙස්</button>
          <button mat-raised-button color="primary">තාක්ෂණික සහය</button>
        </div>

        <figure>
          <img src="assets/welcome.jpg" alt="Image description">
        </figure>
      </div>
    </li>
    <li class="card" id="card_2">
      <div class="card__content" >
        <div  style="padding: 10px">
          <h2><b>අප වෙබ්අඩවියෙන් ඔබට,</b></h2>
          <ul >
            <li><b>සියලු පසුගිය විභාග ප්‍රශ්න පත්‍ර හා පිළිතුරු පත්‍ර(A/L,O/L..)</b> </li>
            <li><b>විශේෂ MCQ ප්‍රශ්න පත්‍ර කිරීමේ මොඩියුලය මගින් ඔබට පහසුවෙන් පිළිතුරු සැපයිය හැකිය.</b> </li>
            <li><b>සියලු MCQ ප්‍රශ්න වල නිරවද්‍යතාවය පරීක්ෂා කර ක්ෂණිකව ඔබගේ ලකුණු ලබාදීම</b> </li>
          </ul>
          <button style="margin-top: 10px" mat-raised-button color="primary" routerLink="/signup">මුල් වරට Register වීමට</button>
        </div>
        <figure>
          <img src="assets/card-2.jpg" alt="Image description">
        </figure>
      </div>
    </li>
    <li class="card" id="card_3">
      <div  class="card__content">
        <div  style="padding: 10px">
          <h2><b>කාල කළමනාකරණය,</b></h2>
          <ul>
            <li><b>A/L වැනි තරගකාරී විභාග වලදී කාල කළමණාකරණය ඉතා වැදගත් වේ. එම නිසා A/L සිසුන් සඳහාම විශේෂයෙන් සැකසූ MCQ කිරිමේ මොඩියුලය මගින් ඔබගේ කාලය ඉතිරි කරගන්න.</b></li>
          </ul>
        </div>
        <figure>
          <img src="assets/timewasting.jpg" alt="Image description">
        </figure>
      </div>
    </li>
    <li class="card" id="card_4">
      <div class="card__content" style="background-color: #79a3ff">
        <div  style="padding: 10px">
          <h2 style="color: white"><b>ඔබේ ප්‍රගතියේ විශ්ලේෂණය ඔබේ අතටම,</b></h2>
          <ul>
            <li><b>දෙමාපියන්ට/ඔබට ඔබගේ එක් එක් විෂයන් වලට අදාළව වෙන වෙනම විශ්ලේෂණයක් ලැබේ.</b>  </li>
            <li><b></b></li>

          </ul>
          <p><a href="#top" class="btn btn&#45;&#45;accent">Read more</a></p>
        </div>
        <figure>
          <img src="assets/analyse.jpg" alt="Image description">
        </figure>
      </div>
    </li>
    &lt;!&ndash;<li class="card" id="card_5">
      <div class="card__content">
        <div  style="padding: 10px">
          <h2><b>Worthy for your money</b></h2>
          <ul>
            <li><b>There are every exits paper for each subject(EX: 1980-2023 physics A/L papers & marking)</b>  </li>
            &lt;!&ndash;<li><b>For only for rs.1000.00 only for each subject</b> </li>
            <li><b>for rs.1000.00 you can get papers(every exits paper included),marking,definition</b> </li>
&ndash;&gt;
          </ul>
          <p><a href="#top" class="btn btn&#45;&#45;accent">Read more</a></p>
        </div>
        <figure>
          <img src="assets/money.jpg" alt="Image description">
        </figure>
      </div>
    </li>&ndash;&gt;
  </ul>
</main>-->
<div class="outer">
  <div class="inners">
    <div class="container">
      <div class="header">
        <div class="one"><h2 style="text-align: center;">100% SATISFACTION GUARANTEE</h2></div>
        <div class="two"><h1 style="text-align: center;">Study Online With <b style="color: #3B82F6;font-weight: bold;font-size: 45px">Ceyloan Papers Hub</b></h1></div>
        <div class="three"><h2 style="text-align: center;">ශ්‍රී ලංකාවේ විශාලතම e-papers platform එක සමග සම්බන්ධ වී ඔබේ සිහින යථාර්තයක් කරගන්න</h2></div>

      </div>
    </div>


  </div>
  <div class="inners">
    <div class="slider-inner">
      <div class="slider">
        <img src="assets/money.jpg" alt="Image 1">
        <img src="assets/card-2.jpg" alt="Image 2">
        <img src="assets/analyse.jpg" alt="Image 3">
        <img src="assets/timewasting.jpg" alt="Image 4">
        <img src="assets/welcome.jpg" alt="Image 5">
      </div>
    </div>
  </div>
  <div class="inners">
    <div class="access-bar">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
            <div class="blocks" routerLink="/signup">
              <mat-icon>person_add</mat-icon>
              <p><b>මුල් වරට register වීම සදහා</b></p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
            <div class="blocks" routerLink="/select-subject">
              <mat-icon>menu_book</mat-icon>
              <p><b>ප්‍රශ්ණ පත්‍ර ලබා ගැනීමට </b></p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
            <div class="blocks">
              <mat-icon>help</mat-icon>
              <p><b>භාවිතයට උපදෙස්</b></p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
            <div class="blocks">
              <mat-icon>info</mat-icon>
              <p><b>වැඩිදුර විස්තර</b></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<app-footer></app-footer>
