<!--
<div class="bootstrap-wrapper" >

  <div class="container" style="display: flex;align-items: center;justify-content: center">
    <img width="400px" src="assets/home.svg" style="margin-top: 100px"><br>
  </div>
</div>
-->


<!-- @TODO: Move away from custom props before injecting the polyfill, as it can't handle it -->
<!--<input type="checkbox" id="debug" />-->

<!--<header>
  <div>
    <h1>Stacking Cards</h1>
    <p>👇 Scroll down to see the effect.</p>
  </div>
</header>-->
<main style="margin-top: 50px">
  <ul id="cards">
    <li class="card" id="card_1">
      <div class="card__content">
        <div>
          <h2><b>Hello Folks,</b></h2>
          <h3>Welcome to the largest online past papers & model papers library in the Sri lanka. You can find <b>A/L,O/L,Grade 5 scholarship past papers & many more..</b> Feel free to explore our site.</h3>
          <p><a href="#top" class="btn btn--accent">Read more</a></p>
        </div>

        <figure>
          <img src="assets/welcome.jpg" alt="Image description">
        </figure>
      </div>
    </li>
    <li class="card" id="card_2">
      <div class="card__content" >
        <div>
          <h2><b>No More Trouble,</b></h2>
          <ul >
            <li><b>One click far away from the papers</b> </li>
            <li><b>Full papers & marking</b> </li>
            <li><b>Attempt to the online mcq test & get results within a second</b> </li>
            <li><b>No one interrupt your test(No any advertisement) & many more..</b> </li>
          </ul>
          <p><a href="#top" class="btn btn--accent">Read more</a></p>
        </div>
        <figure>
          <img src="assets/card-2.jpg" alt="Image description">
        </figure>
      </div>
    </li>
    <li class="card" id="card_3">
      <div class="card__content">
        <div>
          <h2><b>No More Time Wasting,</b></h2>
          <ul>
            <li><b> Only you have to do focus on your answers and select it. when your submit paper we will let you your marks,wrong question,right question and defenition as well.</b></li>
          </ul>
          <p><a href="#top" class="btn btn--accent">Read more</a></p>
        </div>
        <figure>
          <img src="assets/timewasting.jpg" alt="Image description">
        </figure>
      </div>
    </li>
    <li class="card" id="card_4">
      <div class="card__content" style="background-color: #aaaaaa">
        <div >
          <h2><b>Let us analyse your progress,</b></h2>
          <ul>
            <li><b>You can see analyse and progress for each subject</b>  </li>
            <li><b>Average of Correct,Wrong answers</b> </li>
            <li><b>Number of question you have done & many more..</b> </li>

          </ul>
          <p><a href="#top" class="btn btn--accent">Read more</a></p>
        </div>
        <figure>
          <img src="assets/analyse.jpg" alt="Image description">
        </figure>
      </div>
    </li>
    <li class="card" id="card_5">
      <div class="card__content">
        <div >
          <h2><b>Worthy for your money</b></h2>
          <ul>
            <li><b>You can see analyse and progress for each subject</b>  </li>
            <li><b>Average of Correct,Wrong answers</b> </li>
            <li><b>Number of question you have done & many more..</b> </li>

          </ul>
          <p><a href="#top" class="btn btn--accent">Read more</a></p>
        </div>
        <figure>
          <img src="assets/money.jpg" alt="Image description">
        </figure>
      </div>
    </li>
  </ul>
</main>

<app-footer></app-footer>
