<!--intro-->
<div class="bootstrap-wrapper" *ngIf="introShow">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <mat-card class="mt20">
          <mat-card-header>
            <!-- heading -->
            <mat-card-title>
              පහත උපදෙස් කියවන්න
            </mat-card-title>
            <mat-card-subtitle> One step more to go</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content class="ml20">
            <!-- content  -->

            <h1>Test Paper - 2021 AL</h1>
            <p></p>

            <mat-divider></mat-divider>
            <br/>
            <h1>වැදගත් උපදෙස්</h1>

            <ul>
              <li>ඔබට <b>මිනිත්තු X </b> ක කාලයක් ලැබේ.</li>

              <!-- Let the time of each questions is  2 minutes -->
              <li>
                නියමිත කාලය අවසන් උවහොත් ඒ වන විට අවසන් කර ඇති ප්‍රශ්න වලට ස්වයංක්රීයව ලකුණු ලැබේ.
              </li>
              <li>
                මුළු ප්‍රශ්න <b>X </b> ක් ඇතුලත් වේ.
              </li>
              <li>
                එක් ප්‍රශ්නක් සදහා ලකුණු 1 බැගින් හිමි වේ
              </li>
              <li>සියලු ප්‍රශ්න බහුවරණ ගණයට ඇතුලත් වේ.</li>
            </ul>

            <mat-divider></mat-divider>
            <br/>
            <h1>This is only simple demo</h1>
            <p>
              <b>
                We would like to inform you that what you are about to experience is a simple demo version designed to
                showcase the basic functionality and give you a preview of our product. Please note that this demo is not
                the final or complete version of our product, and it may not include all the features or functionalities
                that the actual product offers. The purpose of this demo is to provide you with a glimpse of what our
                product can do and give you an idea of its potential. We appreciate your understanding and encourage you
                to explore this demo to get a sense of our product's capabilities. For a comprehensive understanding of
                the full range of features and functionalities, we recommend using paid papers. Thank you for trying our
                test paper, and we hope you enjoy this demo experience.
              </b>
            </p>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <!-- actions -->
            <button
              (click)="hideIntro()"
              class=""
              mat-raised-button
              color="primary"
            >
              Start QUIZ
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<!--intro  -  End-->


<!--Paper-->
<div class="paper" *ngIf="QuestionShow">
  <!--popup-->

  <input type="checkbox" id="toggle-popup" class="toggle-checkbox">
  <label for="toggle-popup" class="toggle-button">
    <div class="example-tooltip-host" matTooltip="To see time and submit button" [matTooltipPosition]='position'>
      Console
    </div>
  </label>
  <div class="popup">
    <div class="popup-content">
      <span style="color:white;font-weight:bold;font-size: 30px">{{ getFormattedTime() }}</span>
      <div class="divider"></div>

      <button class="mt20 boxbtn" mat-raised-button (click)="submit()">
        Submit Quiz
      </button>

      <button class="mt20 boxbtn" mat-raised-button disabled style="color: white">
        <div class="example-tooltip-host" matTooltip="This is not working in test mode"
             [matTooltipPosition]='position'>
          + Add todo about paper
        </div>
      </button>

      <button class="mt20 boxbtn" mat-raised-button (click)="pauseTimer()">
        <div class="example-tooltip-host" matTooltip="Stop your timer"
             [matTooltipPosition]='position'>
          Pause paper
        </div>
      </button>

      <button class="mt20 boxbtn" mat-raised-button disabled style="color: white">
        <div class="example-tooltip-host" matTooltip="waiting.." [matTooltipPosition]='position'>
          waiting feature
        </div>
      </button>

      <label for="toggle-popup" class="close-button">
        <div class="example-tooltip-host" matTooltip="To close console box" [matTooltipPosition]='position'>
          <mat-icon>close</mat-icon>
        </div>
      </label>

    </div>
  </div>

  <!--popup-End-->

  <!--Question-->

  <div class="col-md-10 main" style="margin: 0 auto;">

    <div style="display:flex;align-items: center;justify-content: center;margin-bottom: 10px!important;"
    >
      <h1 class="mt20">
        <b>Test Paper - 2021 AL Physics</b>
      </h1>

    </div>

    <mat-card>
      <mat-vertical-stepper [@.disabled]="false"
                            (selectionChange)="onStepClick(stepper, $event.previouslySelectedIndex)"
                            #stepper="matVerticalStepper">

        <mat-step #yourStep [editable]="true" label="Question 1) ">
          <div class="img-box" style="overflow: hidden">
            <img style="width:100%;" src="assets/q.jpeg" alt="Question img">
          </div>

          <mat-divider></mat-divider>
          <br/>

          <div class="row">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option1" name="i"/><b> option 1 </b>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option2" name="i"/><b> option 2 </b>
            </div>
          </div>

          <div class="row mt20">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option3" name="i"/><b> option 3 </b>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option4" name="i"/><b> option 4 </b>
            </div>
          </div>

          <div class="row mt20">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option5" name="i"/><b> option 5 </b>
            </div>

          </div>

          <div class="text-center">
            <button style="margin-right: 5px!important;" mat-raised-button color="primary" matStepperPrevious>Back
            </button>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>


        </mat-step>
        <mat-step #yourStep [editable]="true" label="Question 02) ">
          <div class="img-box" style="overflow: hidden">
            <img style="width:100%;" src="assets/q.jpeg" alt="Question img">
          </div>

          <mat-divider></mat-divider>
          <br/>

          <div class="row">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option1" name="i"/><b> option 1 </b>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option2" name="i"/><b> option 2 </b>
            </div>
          </div>

          <div class="row mt20">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option3" name="i"/><b> option 3 </b>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option4" name="i"/><b> option 4 </b>
            </div>
          </div>

          <div class="row mt20">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option5" name="i"/><b> option 5 </b>
            </div>

          </div>

          <div class="text-center">
            <button style="margin-right: 5px!important;" mat-raised-button color="primary" matStepperPrevious>Back
            </button>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>


        </mat-step>
        <mat-step #yourStep [editable]="true" label="Question 03) ">
          <div class="img-box" style="overflow: hidden">
            <img style="width:100%;" src="assets/q.jpeg" alt="Question img">
          </div>

          <mat-divider></mat-divider>
          <br/>

          <div class="row">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option1" name="i"/><b> option 1 </b>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option2" name="i"/><b> option 2 </b>
            </div>
          </div>

          <div class="row mt20">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option3" name="i"/><b> option 3 </b>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option4" name="i"/><b> option 4 </b>
            </div>
          </div>

          <div class="row mt20">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option5" name="i"/><b> option 5 </b>
            </div>

          </div>

          <div class="text-center">
            <button style="margin-right: 5px!important;" mat-raised-button color="primary" matStepperPrevious>Back
            </button>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>


        </mat-step>
        <mat-step #yourStep [editable]="true" label="Question 04) ">
          <div class="img-box" style="overflow: hidden">
            <img style="width:100%;" src="assets/q.jpeg" alt="Question img">
          </div>

          <mat-divider></mat-divider>
          <br/>

          <div class="row">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option1" name="i"/><b> option 1 </b>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option2" name="i"/><b> option 2 </b>
            </div>
          </div>

          <div class="row mt20">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option3" name="i"/><b> option 3 </b>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option4" name="i"/><b> option 4 </b>
            </div>
          </div>

          <div class="row mt20">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option5" name="i"/><b> option 5 </b>
            </div>

          </div>

          <div class="text-center">
            <button style="margin-right: 5px!important;" mat-raised-button color="primary" matStepperPrevious>Back
            </button>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>


        </mat-step>
        <mat-step #yourStep [editable]="true" label="Question 05) ">
          <div class="img-box" style="overflow: hidden">
            <img style="width:100%;" src="assets/q.jpeg" alt="Question img">
          </div>

          <mat-divider></mat-divider>
          <br/>

          <div class="row">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option1" name="i"/><b> option 1 </b>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option2" name="i"/><b> option 2 </b>
            </div>
          </div>

          <div class="row mt20">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option3" name="i"/><b> option 3 </b>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option4" name="i"/><b> option 4 </b>
            </div>
          </div>

          <div class="row mt20">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option5" name="i"/><b> option 5 </b>
            </div>

          </div>

          <div class="text-center">
            <button style="margin-right: 5px!important;" mat-raised-button color="primary" matStepperPrevious>Back
            </button>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>


        </mat-step>
        <mat-step #yourStep [editable]="true" label="Question 06) ">
          <div class="img-box" style="overflow: hidden">
            <img style="width:100%;" src="assets/q.jpeg" alt="Question img">
          </div>

          <mat-divider></mat-divider>
          <br/>

          <div class="row">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option1" name="i"/><b> option 1 </b>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option2" name="i"/><b> option 2 </b>
            </div>
          </div>

          <div class="row mt20">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option3" name="i"/><b> option 3 </b>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option4" name="i"/><b> option 4 </b>
            </div>
          </div>

          <div class="row mt20">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option5" name="i"/><b> option 5 </b>
            </div>

          </div>

          <div class="text-center">
            <button style="margin-right: 5px!important;" mat-raised-button color="primary" matStepperPrevious>Back
            </button>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>


        </mat-step>
        <mat-step #yourStep [editable]="true" label="Question 07) ">
          <div class="img-box" style="overflow: hidden">
            <img style="width:100%;" src="assets/q.jpeg" alt="Question img">
          </div>

          <mat-divider></mat-divider>
          <br/>

          <div class="row">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option1" name="i"/><b> option 1 </b>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option2" name="i"/><b> option 2 </b>
            </div>
          </div>

          <div class="row mt20">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option3" name="i"/><b> option 3 </b>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option4" name="i"/><b> option 4 </b>
            </div>
          </div>

          <div class="row mt20">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option5" name="i"/><b> option 5 </b>
            </div>

          </div>

          <div class="text-center">
            <button style="margin-right: 5px!important;" mat-raised-button color="primary" matStepperPrevious>Back
            </button>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>


        </mat-step>
        <mat-step #yourStep [editable]="true" label="Question 08) ">
          <div class="img-box" style="overflow: hidden">
            <img style="width:100%;" src="assets/q.jpeg" alt="Question img">
          </div>

          <mat-divider></mat-divider>
          <br/>

          <div class="row">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option1" name="i"/><b> option 1 </b>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option2" name="i"/><b> option 2 </b>
            </div>
          </div>

          <div class="row mt20">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option3" name="i"/><b> option 3 </b>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option4" name="i"/><b> option 4 </b>
            </div>
          </div>

          <div class="row mt20">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option5" name="i"/><b> option 5 </b>
            </div>

          </div>

          <div class="text-center">
            <button style="margin-right: 5px!important;" mat-raised-button color="primary" matStepperPrevious>Back
            </button>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>


        </mat-step>
        <mat-step #yourStep [editable]="true" label="Question 09) ">
          <div class="img-box" style="overflow: hidden">
            <img style="width:100%;" src="assets/q.jpeg" alt="Question img">
          </div>

          <mat-divider></mat-divider>
          <br/>

          <div class="row">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option1" name="i"/><b> option 1 </b>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option2" name="i"/><b> option 2 </b>
            </div>
          </div>

          <div class="row mt20">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option3" name="i"/><b> option 3 </b>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option4" name="i"/><b> option 4 </b>
            </div>
          </div>

          <div class="row mt20">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option5" name="i"/><b> option 5 </b>
            </div>

          </div>

          <div class="text-center">
            <button style="margin-right: 5px!important;" mat-raised-button color="primary" matStepperPrevious>Back
            </button>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>


        </mat-step>
        <mat-step #yourStep [editable]="true" label="Question 10) ">
          <div class="img-box" style="overflow: hidden">
            <img style="width:100%;" src="assets/q.jpeg" alt="Question img">
          </div>

          <mat-divider></mat-divider>
          <br/>

          <div class="row">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option1" name="i"/><b> option 1 </b>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option2" name="i"/><b> option 2 </b>
            </div>
          </div>

          <div class="row mt20">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option3" name="i"/><b> option 3 </b>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option4" name="i"/><b> option 4 </b>
            </div>
          </div>

          <div class="row mt20">
            <div class="col-md-6 col-sm-6 col-6">
              <input type="radio" value="q.option5" name="i"/><b> option 5 </b>
            </div>

          </div>

          <div class="text-center">
            <button style="margin-right: 5px!important;" mat-raised-button color="primary" matStepperPrevious>Back
            </button>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>


        </mat-step>


      </mat-vertical-stepper>
    </mat-card>

  </div>


</div>
<!--Paper End-->


<!--Answers-->
<div class="paper" *ngIf="showAnswers">


  <!--Question-->

  <div class="col-md-10 main" style="margin: 0 auto;">

    <mat-card>
      <mat-card-content class="text-center">
        <h1 style="color: blue;font-size: 25px; align-items: center"> Test Paper
          - 2021 AL Physics</h1>
        <h1>Correct Answers : ??</h1>
        <h1>Check out your mistakes now</h1>
      </mat-card-content>
      <mat-card-actions class="text-center">
        <button mat-raised-button color="accent" [routerLink]="'/user-dashboard'">
          Dashboard
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      01)
      <div class="img-box" style="overflow: hidden">
        <img style="width:100%;" src="assets/q.jpeg" alt="Question img">
      </div>

      <mat-divider></mat-divider>
      <br/>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-6">
          <input checked type="radio" value="q.option1"/><b> option 1 </b>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option2"/><b> option 2 </b>
        </div>
      </div>

      <div class="row mt20">
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option3"/><b> option 3 </b>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option4"/><b> option 4 </b>
        </div>
      </div>

      <div class="row mt20">
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option5"/><b> option 5 </b>
        </div>

      </div>

      <div class="acc">


        <div>
          <h3 style="color: blue">Your Answer is Correct !!</h3>
        </div>


      </div>
      <mat-divider></mat-divider>


      02)
      <div class="img-box" style="overflow: hidden">
        <img style="width:100%;" src="assets/q.jpeg" alt="Question img">
      </div>

      <mat-divider></mat-divider>
      <br/>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-6">
          <input checked type="radio" value="q.option1"/><b> option 1 </b>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option2"/><b> option 2 </b>
        </div>
      </div>

      <div class="row mt20">
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option3"/><b> option 3 </b>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option4"/><b> option 4 </b>
        </div>
      </div>

      <div class="row mt20">
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option5"/><b> option 5 </b>
        </div>

      </div>

      <div class="acc">

        <div>
          <h3 style="color: red">Your Answer is Wrong !! <br>Correct Answer : ??</h3>
        </div>


      </div>
      <mat-divider></mat-divider>


      03)
      <div class="img-box" style="overflow: hidden">
        <img style="width:100%;" src="assets/q.jpeg" alt="Question img">
      </div>

      <mat-divider></mat-divider>
      <br/>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-6">
          <input checked type="radio" value="q.option1"/><b> option 1 </b>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option2"/><b> option 2 </b>
        </div>
      </div>

      <div class="row mt20">
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option3"/><b> option 3 </b>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option4"/><b> option 4 </b>
        </div>
      </div>

      <div class="row mt20">
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option5"/><b> option 5 </b>
        </div>

      </div>

      <div class="acc">


        <div>
          <h3 style="color: blue">Your Answer is Correct !!</h3>
        </div>


      </div>
      <mat-divider></mat-divider>


      04)
      <div class="img-box" style="overflow: hidden">
        <img style="width:100%;" src="assets/q.jpeg" alt="Question img">
      </div>

      <mat-divider></mat-divider>
      <br/>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-6">
          <input checked type="radio" value="q.option1"/><b> option 1 </b>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option2"/><b> option 2 </b>
        </div>
      </div>

      <div class="row mt20">
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option3"/><b> option 3 </b>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option4"/><b> option 4 </b>
        </div>
      </div>

      <div class="row mt20">
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option5"/><b> option 5 </b>
        </div>

      </div>

      <div class="acc">


        <div>
          <h3 style="color: blue">Your Answer is Correct !!</h3>
        </div>


      </div>
      <mat-divider></mat-divider>


      05)
      <div class="img-box" style="overflow: hidden">
        <img style="width:100%;" src="assets/q.jpeg" alt="Question img">
      </div>

      <mat-divider></mat-divider>
      <br/>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-6">
          <input checked type="radio" value="q.option1"/><b> option 1 </b>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option2"/><b> option 2 </b>
        </div>
      </div>

      <div class="row mt20">
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option3"/><b> option 3 </b>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option4"/><b> option 4 </b>
        </div>
      </div>

      <div class="row mt20">
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option5"/><b> option 5 </b>
        </div>

      </div>

      <div class="acc">


        <div>
          <h3 style="color: blue">Your Answer is Correct !!</h3>
        </div>


      </div>
      <mat-divider></mat-divider>


      06)
      <div class="img-box" style="overflow: hidden">
        <img style="width:100%;" src="assets/q.jpeg" alt="Question img">
      </div>

      <mat-divider></mat-divider>
      <br/>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-6">
          <input checked type="radio" value="q.option1"/><b> option 1 </b>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option2"/><b> option 2 </b>
        </div>
      </div>

      <div class="row mt20">
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option3"/><b> option 3 </b>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option4"/><b> option 4 </b>
        </div>
      </div>

      <div class="row mt20">
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option5"/><b> option 5 </b>
        </div>

      </div>

      <div class="acc">

        <div>
          <h3 style="color: red">Your Answer is Wrong !! <br>Correct Answer : ??</h3>
        </div>


      </div>
      <mat-divider></mat-divider>


      07)
      <div class="img-box" style="overflow: hidden">
        <img style="width:100%;" src="assets/q.jpeg" alt="Question img">
      </div>

      <mat-divider></mat-divider>
      <br/>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-6">
          <input checked type="radio" value="q.option1"/><b> option 1 </b>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option2"/><b> option 2 </b>
        </div>
      </div>

      <div class="row mt20">
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option3"/><b> option 3 </b>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option4"/><b> option 4 </b>
        </div>
      </div>

      <div class="row mt20">
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option5"/><b> option 5 </b>
        </div>

      </div>

      <div class="acc">


        <div>
          <h3 style="color: blue">Your Answer is Correct !!</h3>
        </div>


      </div>
      <mat-divider></mat-divider>


      08)
      <div class="img-box" style="overflow: hidden">
        <img style="width:100%;" src="assets/q.jpeg" alt="Question img">
      </div>

      <mat-divider></mat-divider>
      <br/>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-6">
          <input checked type="radio" value="q.option1"/><b> option 1 </b>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option2"/><b> option 2 </b>
        </div>
      </div>

      <div class="row mt20">
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option3"/><b> option 3 </b>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option4"/><b> option 4 </b>
        </div>
      </div>

      <div class="row mt20">
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option5"/><b> option 5 </b>
        </div>

      </div>

      <div class="acc">

        <div>
          <h3 style="color: red">Your Answer is Wrong !! <br>Correct Answer : ??</h3>
        </div>


      </div>
      <mat-divider></mat-divider>


      09)
      <div class="img-box" style="overflow: hidden">
        <img style="width:100%;" src="assets/q.jpeg" alt="Question img">
      </div>

      <mat-divider></mat-divider>
      <br/>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-6">
          <input checked type="radio" value="q.option1"/><b> option 1 </b>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option2"/><b> option 2 </b>
        </div>
      </div>

      <div class="row mt20">
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option3"/><b> option 3 </b>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option4"/><b> option 4 </b>
        </div>
      </div>

      <div class="row mt20">
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option5"/><b> option 5 </b>
        </div>

      </div>

      <div class="acc">


        <div>
          <h3 style="color: blue">Your Answer is Correct !!</h3>
        </div>


      </div>
      <mat-divider></mat-divider>


      10)
      <div class="img-box" style="overflow: hidden">
        <img style="width:100%;" src="assets/q.jpeg" alt="Question img">
      </div>

      <mat-divider></mat-divider>
      <br/>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-6">
          <input checked type="radio" value="q.option1"/><b> option 1 </b>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option2"/><b> option 2 </b>
        </div>
      </div>

      <div class="row mt20">
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option3"/><b> option 3 </b>
        </div>
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option4"/><b> option 4 </b>
        </div>
      </div>

      <div class="row mt20">
        <div class="col-md-6 col-sm-6 col-6">
          <input disabled type="radio" value="q.option5"/><b> option 5 </b>
        </div>

      </div>

      <div class="acc">


        <div>
          <h3 style="color: blue">Your Answer is Correct !!</h3>
        </div>


      </div>
      <mat-divider></mat-divider>

    </mat-card>

  </div>


</div>
<!--Answers ENd-->

<div class="pause-div" *ngIf="!pause" matRipple
     [matRippleCentered]="false"
     [matRippleUnbounded]="true"
     [matRippleRadius]="80"
     [matRippleColor]="'#3498db'">
  <div class="pause-inner">
    <h1 class="text-center" style="color:white;font-size: 40px;font-family: 'Lobster', cursive">Your in sleep mode</h1>
    <button class="mt20" mat-raised-button>
      <div class="example-tooltip-host" (click)="resumeTimer()" matTooltip="Resume your timer"
           [matTooltipPosition]='position'>
        Lets back to work !! Resume Paper
      </div>
    </button>
  </div>
</div>







