.outer{
  height: 90vh;
}


.btn-remove-image{
  position: absolute;
  cursor: pointer;
  top: 0;
  right:0;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: auto;
  text-align: center;
}

.payments-details{
  height: 100%;
}
