<div class="outer">
  <mat-tab-group
    style="margin-bottom: 10px"
    (selectedTabChange)="myTabFocusChange($event)">
    >

    <mat-tab *ngFor="let c of selectedCategories" [label]="c.cTitle">
      <ng-template mat-tab-label>
        <span class="bold-label">{{c.cTitle}}</span>
      </ng-template>
      <div class="text-center col-12 mt10">
        <h1
          style="font-size:30px;
              font-family: 'Lobster', cursive;
              font-family: 'Roboto Mono', monospace;
              text-decoration: underline">
          {{c.cTitle}} Quizzes
        </h1>

        <mat-form-field appearance="fill">
          <mat-label>Fliter by year</mat-label>
          <mat-select (selectionChange)="onSelectionChange($event)" name="category" [(ngModel)]="searchText1">
            <mat-option>Clear</mat-option>
            <mat-option value="2000"> 2000 </mat-option>
            <mat-option value="2001"> 2001 </mat-option>
            <mat-option value="2002"> 2002 </mat-option>
            <mat-option value="2003"> 2003 </mat-option>
            <mat-option value="2004"> 2004 </mat-option>
            <mat-option value="2005"> 2005 </mat-option>
            <mat-option value="2006"> 2006 </mat-option>
            <mat-option value="2007"> 2007 </mat-option>
            <mat-option value="2008"> 2008 </mat-option>
            <mat-option value="2009"> 2009 </mat-option>
            <mat-option value="2010"> 2010 </mat-option>
            <mat-option value="2010"> 2011 </mat-option>
            <mat-option value="2010"> 2012 </mat-option>
            <mat-option value="2010"> 2013 </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <div class="containers">

        <div class="item" *ngFor="let q of epicQuizzes">
          <div class="inner">

            <p style="color:black;font-weight: bold"><b>{{ q.title }} {{ q.category.title }}</b></p>

            <button
              [routerLink]="'/instructions/' + q.qId"
            >
              Start MCQ
            </button>

            <button>
              <a target="popup" [href]="q.paperLink">Second Paper</a>
            </button>


          </div>
        </div>

      </div>

      <div class="text-center mt20 mb20">
        <button style="width: 100px" (click)="loadMoreEpic()" *ngIf="showMoreBtnEpic">
          Load More
        </button>
      </div>

      <div class="col-md-12" *ngIf="epicQuizzes.length == 0">
        <mat-card>
          <mat-card-content>
            <h1>search results not found for year "{{ this.searchText1}}"</h1>
          </mat-card-content>
        </mat-card>
      </div>


    </mat-tab>

    <mat-tab *ngIf="isEmpty" label="Add Subject">
      <ng-template mat-tab-label>
        <span class="bold-label">Add Subject</span>
      </ng-template>
      <div class="add-sub">
        <div class="inner">
          <p>Buy Module</p>
          <button mat-raised-button color="primary" routerLink="/select-subject">Buy Now</button>
        </div>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>



